<div class="container-fluid text-container">
  <div class="row" id="contactText">
    <!-- <div class="col-1 col-lg-2"></div> -->
    <div class="col-10 col-lg-6 mx-auto">
      <p class="contact-header">Bereit für ein Gespräch? <br class="d-lg-none"> Wunderbar!</p>
      <p>Denn sind Sie fast am Ziel, es bleibt nur noch ein kleiner Schritt. Schreiben
        Sie mir entweder eine E-Mail an die unten stehende Adresse (Sie können auch
        einfach auf die Adresse klicken). Oder, falls Ihnen das lieber sein sollte,
        dann finden Sie mich auch auf <a href="https://twitter.com/VarsAndNumbers">Twitter</a>,
        <a href="https://www.linkedin.com/in/dmitriy-sevkovych">LinkedIn</a>
        und <a href="https://github.com/DmitriySevkovych">GitHub</a>.
      </p>
      <p>
        Wenn Sie Ihre E-Mail-Nachricht mit PGP-Encryption schützen wollen, dann
        können Sie hier meinen <a href="/assets/downloads/varsandnumbers_public.asc" download="varsandnumbers_public.asc">public key</a>
        herunterladen.
      </p>
    </div>
    <div class="w-100"></div>

    <div class="col-10 col-lg-6 mx-auto my-4">
      <a id="mailto"></a>
    </div>

    <div class="w-100"></div>

    <div class="col-10 col-lg-6 mx-auto">
      <p> Zu guter Letzt möchte ich mich bei Ihnen für den Besuch meiner Webseite
        bedanken. Ich hoffe, dass Sie einen informativen Einblick in die Welt von
        Vars&Numbers gewinnen konnten, und dass Sie auch ein bisschen Spaß dabei
        hatten. Falls ich Ihnen in irgendeiner Weise behilflich sein kann, kommen
        Sie gerne auf mich zu.
      </p>
      <p class="text-right mt-4">
        Viele Grüße, <br> Dmitriy Sevkovych
      </p>
    </div>
  </div>
</div>
