<div class="container-fluid text-container">
  <div class="row" id="contactText">
    <div class="col-1 col-lg-2"></div>
    <div class="col-10 col-lg-8">
      <p class="contact-header">Bereit für ein Gespräch?<br class="d-lg-none"> Ich freue mich!</p>
      <p>Nur noch ein kleiner Schritt. Um mich zu kontaktieren, können Sie entweder
        diese Form ausfüllen oder, falls Ihnen das lieber ist, mir eine Mail an
        die unten stehende Adresse schicken. Sie finden mich außerdem auch auf <a href="https://twitter.com/VarsAndNumbers">Twitter</a>,
        <a href="https://www.linkedin.com/in/dmitriy-sevkovych">LinkedIn</a>
        und <a href="https://github.com/DmitriySevkovych">GitHub</a>.
      </p>
      <p>
        Wenn Sie Ihre E-Mail-Nachricht mit PGP-Encryption schützen wollen, haben Sie hier meinen
        <a href="/assets/downloads/varsandnumbers_public.asc" download="varsandnumbers_public.asc">public key</a>.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid form-container">
  <div class="row" id="contactForm">
    <div class="col-1 col-lg-2"></div>
    <div class="col-10 col-lg-8">
      <form id="formaction" method="post">
        <input type="text" name="_gotcha" style="display:none" />
        <input type="hidden" name="_next" value="thanks.html" />

        <div id="customerContact">
          <label><input type="text" name="name" placeholder="Bitte Ihren Namen hier eingeben ... "></label>

          <label><input type="text" name="email" placeholder="... und hier Ihre E-Mail"></label>

        </div>

        <label><textarea name="message" cols="1" placeholder="Worüber sollen wir reden?"></textarea></label>

        <input type="submit" value="Los geht's!">
      </form>
    </div>
  </div>
</div>

<div class="container-fluid info-container">
  <div class="row" id="contactInfo">
    <div class="col-12" id="mBig"></div>
  </div>
</div>
