<h1>SIE</h1>
<h2>Werden Sie Kunde, werden sie glücklich!</h2>

<div class="focus-image">
  <img src="{{page.assets}}/img/Uncle_Sam.png" alt="Uncle_Sam">
</div>

<p>Ich mache nur Spaß. Natürlich möchte ich einen guten Eindruck hinterlassen und
  einen neuen Kunden gewinnen. Aber meine Absicht auf dieser Seite ist es, Ihnen
  eine Vorstellung zu geben, wer meine aktuellen Kunden sind. Ich möchte Sie nicht
  zu irgendwelchen Entscheidungen hetzen. Also nehmen Sie sich ein bisschen Zeit
  und klicken Sie sich durch. Viel Spaß!</p>
