<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6" id="vision">
      <div class="row">
        <p class="lead col-10 mx-auto">Das Ziel von Vars&Numbers ist es den
          Horizont meiner Kunden zu erweitern.
        </p>
      </div>

      <div class="row">
        <p class="col-10 mx-auto">
          Das könnte bedeuten, neue Wege zu gehen. Oder die bereits gegangenen Wege
          neu zu asphaltieren. Ich kann Sie in Beidem unterstützen.
        </p>

        <p class="col-10 mx-auto">
          Selbst der Versuch, mit der Entwicklung der digitalen Welt Schritt zu halten,
          ist kein leichtes Unterfangen. Ich möchte Ihnen helfen genau das zu tun.
          Mein Überblick ist weitreichend genug um Ihnen zu einer richtigen Entscheidung zu
          verhelfen. Und ich weiß auch, wie man die notwendigen Werkzeuge benutzt,
          nicht nur was man mit ihnen erreichen kann. Ich bin mehr als
          nur Berater für meine Kunden, ich bin ein Macher.
        </p>
      </div>

      <div class="row">
        <p class="col-10 mx-auto">Stichwort "Kunden". Sie würden bestimmt gerne ein
          paar Beispiele von glücklichen Kunden sehen, die bereits von ihrer Zusammenarbeit
          mit Vars&Numbers profitieren.
          Daran arbeite ich momentan. Aber zuerst müssen einige rechtliche Hürden
          genommen werden, bevor ich Ihnen etwas präsentieren kann. Bis es soweit ist,
          habe ich den guten alten Uncle Sam darum gebeten die Stellung zu halten.
        </p>
      </div>
    </div>

    <div class="col-lg-6 pr-lg-5" id="customers">
      <div class="customers-focus">
        <div>{% include {{page.lang}}/customers_you.html %}</div>
        <!-- <div>{% include {{page.lang}}/customers_twt.html %}</div> -->
      </div>

      <div class="customers-slider">
        <div>{% include icons/LogoScaled.html %}</div>
        <!-- <div>{% include icons/TWT.html %}</div> -->
      </div>

    </div>
  </div>
</div>
