<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6" id="vision">
      <div class="row">
        <p class="lead col-10 mx-auto">The main idea behind Vars&Numbers is to enrich
          the wealth of knowledge of my customers.
        </p>
      </div>

      <div class="row">
        <p class="col-10 mx-auto">
          This could mean to do better things. Or to do the same things, but better.
          I am here to help with both.
        </p>

        <p class="col-10 mx-auto">The mere attempt to bridle the complexity and
          the immense pace at which the digital world evolves requires constant
          learning, great effort and curiosity. This is not an easy task to accomplish.
          And this is what I am here to help you with. I have a wide enough (and
          constanly expanding) understanding of the big picture to be able to offer
          fitting advice; and I also know how to use my tools, not only what they
          can be used for, because I am a doer, not only an advisor for my customers.
        </p>
      </div>

      <div class="row">
        <p class="col-10 mx-auto">Speaking of customers. You might want to see a few examples of happy
          clients that are already benefitting from their commitment to Vars&Numbers.
          I am working on it, but there are some legal hurdles to be taken before I
          can show you something. Until then I have asked the good old Uncle Sam to hold the fort.
        </p>
      </div>
    </div>

    <div class="col-lg-6 pr-lg-5" id="customers">
      <div class="customers-focus">
        <div>{% include {{page.lang}}/customers_you.html %}</div>
        <!-- <div>{% include {{page.lang}}/customers_twt.html %}</div> -->
      </div>

      <div class="customers-slider">
        <div>{% include icons/LogoScaled.html %}</div>
        <!-- <div>{% include icons/TWT.html %}</div> -->
      </div>

    </div>
  </div>
</div>
