<div class="container-fluid mb-5">

  <div class="row text-center">
    <div class="mx-auto my-3">
      <h1 id="privacy">Datenschutzerklärung</h1>
      <!-- <h1>Datenschutzerklärung <span id="VAN">Vars&Numbers</span></h1> -->
    </div>
  </div>

  <div class="row text-justify">
    <div class="w-100 mx-4">
      <p>
        Mit diesen Datenschutzhinweisen informiert Sie Vars&Numbers - Inh. Dmitriy Sevkovych
        (im Folgenden: <strong>"wir"</strong> oder <strong>"uns"</strong>) darüber, wie wir
        Ihre personenbezogenen Daten verarbeiten.
      </p>
      <p>
        Personenbezogene Daten sind alle Informationen, die Ihnen unmittelbar oder mittelbar
        zugeordnet werden können, etwa Name, Anschrift, Telefonnummer oder E-Mail-Adresse
        (im Folgenden: <strong>"personenbezogenen Daten"</strong>). Verarbeiten meint jeden
        Vorgang im Zusammenhang mit personenbezogenen Daten wie das Erheben, die Speicherung,
        die Veränderung, das Abfragen, die Verwendung, die Offenlegung oder das Löschen
        (im Folgenden: <strong>"verarbeiten"</strong> oder <strong>"Verarbeitung"</strong>).
      </p>

      <h2>1. Verantwortlicher: Identität und Kontaktdaten</h2>
      <p> Wir sind:</p>
      <ul class="mx-4" id="aboutme">
        <li>Vars&Numbers – Inh. Dmitriy Sevkovych</li>
        <li>Beskidenstraße 10</li>
        <li>70374 Stuttgart</li>
        <li>E-Mail-Adresse: info@varsandnumbers.com</li>
        <li>Telefon: +49 177 / 837-11-63</li>
      </ul>

      <h2>2. Kategorien personenbezogener Daten, Verarbeitungszwecke, Rechtsgrundlagen und Speicherdauer</h2>
      <h3>2.1 Aufruf unserer Webseite varsandnumbers.com</h3>
      <h4>2.1.1 Server-Log-Files</h4>
      <p>
        Systembedingt werden beim Aufrufen unserer Webseite Informationen in sogenannten
        Server-Log-Files erhoben und gespeichert, die Ihr Browser automatisch an uns
        übermittelt. Dies sind:
        <ul class="mx-4">
          <li>IP-Adresse des abrufenden Endgeräts;</li>
          <li>Datum und Uhrzeit des Abrufs;</li>
          <li>Name und URL der abgerufenen Datei;</li>
          <li>Meldung ob der Abruf erfolgreich war;</li>
          <li>Referrer-URL (Webseite, von der aus der Zugriff erfolgte) bzw. Name des Access-Providers; und</li>
          <li>verwendeter Browser und Betriebssystem.</li>
        </ul>
      </p>
      <p>
        Diese Daten sind für uns nicht unmittelbar einer bestimmten Person zuordenbar.
        Die Daten werden getrennt von anderen personenbezogenen Daten gespeichert;
        eine Zusammenführung mit anderen Daten erfolgt nicht. <br>
        Rechtsgrundlage für die vorübergehende Speicherung der Daten und der Logfiles
        ist Artikel 6 Abs. 1 S. 1 lit. f Datenschutz-Grundverordnung (<strong>"DSGVO"</strong>),
        soweit es sich dabei überhaupt um personenbezogene Daten handelt. Die
        vorübergehende Speicherung der IP-Adresse durch das System ist notwendig,
        um eine technische Auslieferung der Webseite an den Rechner des Nutzers zu
        ermöglichen. Die Speicherung in Logfiles erfolgt, um die Funktionsfähigkeit
        der Webseite sicherzustellen. Darin ist auch unser überwiegendes berechtigtes
        Interesse an der Datenverarbeitung nach Artikel 6 Abs. 1 S. 1 lit. f DSGVO
        zu sehen. <br>
        Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer
        Erhebung nicht mehr erforderlich sind. Im Falle der Erfassung der Daten
        zur Bereitstellung der Webseite ist dies der Fall, wenn die jeweilige Sitzung
        beendet ist. Im Falle der Speicherung der Daten in Logfiles ist dies nach
        spätestens 7 Tagen der Fall.
      </p>

      <h4>2.1.2 Google Analytics</h4>
      <p>
        Auf unserer Website benutzen wir Google Analytics, einen Webanalysedienst
        der Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Irland
        ("Google"). <br>
        Google Analytics verwendet Cookies und erstellt pseudonymisierte Nutzungsprofile.
        Die durch den Cookie erzeugten Informationen über Ihre Benutzung unserer
        Website (Browsertyp und –version, Betriebssystem, Referrer-URL, IP-Adresse
        und Uhrzeit der Serveranfrage) werden in der Regel an einen Server von Google
        in den USA übertragen und dort gespeichert. Ihre IP-Adresse wird von Google
        zuvor innerhalb der Mitgliedsstaaten der Europäischen Union oder in anderen
        Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum gekürzt
        und so anonymisiert, dass eine Zuordnung nicht möglich ist (IP-Anonymisierung).
        Eine Zusammenführung der IP-Adresse mit anderen Daten von Google erfolgt nicht.
        In unserem Auftrag wird Google die erhobenen Informationen verwenden, um Ihre
        Nutzung unserer Website auszuwerten, um Reports über die Websiteaktivitäten
        zusammenzustellen und um weitere mit der Nutzung unserer Internet-seite und
        des Internets verbundene Dienstleistungen zu erbringen. <br>
        Google ist unter dem EU-US-Privacy-Shield-Abkommen zertifiziert und bietet
        hierdurch eine Garantie, das europäische Datenschutzrecht einzuhalten.
        Informationen zum EU-US-Privacy-Shield-Abkommen erhalten Sie unter
        <a href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active">https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active</a>
        Die personenbezogenen Daten werden nach 14 Monaten gelöscht oder anonymisiert. <br>
        Rechtsgrundlage für die Verarbeitung der Daten ist Ihre Einwilligung
        (Artikel 6 Abs. 1 S. 1 lit. a DSGVO), soweit es sich dabei um personenbezogene
        Daten handelt und wir Daten an Dritte weitergeben. Im Übrigen stützen wir die
        Datenverarbeitung auf unsere überwiegenden berechtigten Interessen (Artikel 6
        Abs. 1 S. 1 lit. f DSGVO) am Betrieb, Analyse und Optimierung unserer Webseite. <br>
        Sie können die Speicherung von Cookies durch das Ablehnen des Cookie-Banners
        sowie eine entsprechende Einstellung Ihrer Browser-Software verhindern. Wir
        weisen jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche
        Funktionen unseres Internetauftritts vollumfänglich werden nutzen können. Sie
        können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf
        Ihre Nutzung unserer Webseite bezogenen Daten (inkl. Ihrer IP-Adresse) an
        Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem
        sie das unter dem folgenden Link verfügbare Browser-Add-on herunterladen
        und installieren: <a href="http://tools.google.com/dlpage/gaoptout?hl=de">http://tools.google.com/dlpage/gaoptout?hl=de.</a> <br>
        Alternativ zum Browser-Add-On können Sie die Erfassung durch Google Analytics
        zudem verhindern, indem Sie folgenden <a onclick="alert('Das Tracking durch Google Analytics wurde in Ihrem Browser für diese Website deaktiviert');"
         href="javascript:gaOptout()">Link aktivieren</a>.
        Dabei wird ein Opt-Out-Cookie auf Ihrem Endgerät abgelegt, der die künftige
        Erfassung Ihrer Daten beim Besuch unserer Website verhindert. Bitte beachten
        Sie, dass das Opt-Out-Cookie nur in diesem Browser und nur für unsere Webseite
        gilt und dass Sie das Cookie erneut setzen müssen, sollten Sie die Cookies in
        Ihrem Browser löschen. <br>
        Weitere Informationen zur Datenverarbeitung im Zusammenhang mit Google Analytics
        finden Sie auf der Webseite von Google unter <a href="https://policies.google.com/privacy">https://policies.google.com/privacy</a>.
      </p>

      <h3>2.2 Kommunikation via  E-Mail oder andere Kanäle</h3>
      <p>
        Soweit Sie mit uns über ein E-Mail oder einen anderen
        Kanal kommunizieren, verarbeiten wir Ihre personenbezogenen Daten zur
        Bearbeitung Ihrer Anfrage, etwa
      </p>
      <ul class="mx-4">
        <li>Kontaktdaten, z.B. Name, E-Mail-Adresse, Anschrift, Telefonnummer (soweit angegeben) und</li>
        <li>Inhaltsdaten der Kommunikation.</li>
      </ul>
      <p>
        Rechtsgrundlage für die Verarbeitung der Daten ist Artikel 6 Abs. 1 S. 1 lit. b DSGVO.
        Demnach ist uns eine Datenverarbeitung gestattet, soweit die Verarbeitung
        für die Erfüllung eines Vertrags, dessen Vertragspartei Sie sind, oder zur
        Durchführung vorvertraglicher Maßnahmen erforderlich ist. Im Übrigen stützen
        wir die Datenverarbeitung auf unsere überwiegende berechtigte Interessen
        (Artikel 6 Abs. 1 S. 1 lit. f DSGVO).
        <!-- Unser berechtigtes Interesse an der
        Nutzung eines IT-Dienstleisters zur Zurverfügungstellung eines Kontaktformulars
        überwiegt, da wir für einen solchen Dienst auf die Unterstützung eines Dritten
        angewiesen sind und die Nutzung auf freiwilliger Basis erfolgt.  -->
        <br>
        Bitte beachten Sie, dass die Daten im Internet allgemein nicht immer sicher
        übertragen werden. Besonders im E-Mail-Verkehr kann der Schutz beim Datenaustausch
        nicht garantiert werden. Wir empfehlen Ihnen, keine besonders sensiblen Daten per
        E-Mail an uns zu übermitteln.
      </p>

      <h3>2.3 Sonstige Kommunikation mit (potentiellen) Vertragspartnern</h3>
      <p>
        Soweit Sie mit uns als Kunde, Dienstleister oder sonstiger Vertragspartner
        eine Vertragsbeziehung anstreben oder eine solche eingegangen sind, verarbeiten
        wir die für die Vertragsabwicklung erforderlichen Daten, etwa
      </p>
      <ul class="mx-4">
        <li>Bestanddaten, z.B. Name, Anschrift, Vertragsgegenstand, Laufzeit etc.; und</li>
        <li>Zahlungsdaten, z.B. Bankverbindung, Zahlungshistorie.</li>
      </ul>
      <p>
        Rechtsgrundlage für die Verarbeitung der Daten ist Artikel 6 Abs. 1 S. 1 lit. b DSGVO.
        Demnach ist uns eine Datenverarbeitung gestattet, soweit die Verarbeitung
        für die Erfüllung eines Vertrags, dessen Vertragspartei Sie sind, oder zur
        Durchführung vorvertraglicher Maßnahmen erforderlich ist. <br>
        Die Daten werden gelöscht, soweit eine Verarbeitung der Daten nicht mehr
        erforderlich ist. Demnach erfolgt eine Löschung, wenn die Vertragsbeziehung
        abgeschlossen und mögliche Gewährleistungsansprüche abgelaufen sind und wir
        aufgrund von gesetzlichen Aufbewahrungspflichten, die sich z.B. aus den
        einschlägigen handels- und steuerrechtlichen Vorgaben aus §§ 238 ff. und 257
        Handelsgesetzbuch und § 147 Abgabenordnung ergeben können, nicht zu einer
        darüber hinausgehenden Speicherung verpflichtet sind.
      </p>

      <h3>2.4 Nutzung unserer Onlinepräsenzen auf sozialen Plattformen (Twitter, LinkedIn oder GitHub)</h3>
      <p>
        Wir unterhalten Onlinepräsenzen auf verschiedenen sozialen Plattformen,
        um mit den dort aktiven Nutzern kommunizieren zu können. Derzeit verfügen
        wir über Onlinepräsenzen bei Twitter, LinkedIn und GitHub.
      </p>
      <h4>2.4.1 Verarbeitung von Daten durch soziale Plattformen</h4>
      <p>
        <strong>Wir weisen darauf hin, dass Sie die sozialen Plattformen in eigener
          Verantwortung nutzen.</strong> Die Nutzung der Plattformen ist für eine
        Kontaktaufnahme mit uns nicht erforderlich. Sie können mit uns auch über
        die in Ziffer 1 genannten Kontaktdaten kommunizieren. <br>
        <strong>Wir haben keinen Einfluss darauf, welche Daten und in welchem Umfang die
          sozialen Plattformen Daten verarbeiten.</strong> Dies gilt insbesondere für die
        Nutzung interaktiver Funktionen (z.B. Versenden, Teilen oder Bewerten von
        Nachrichten). Angaben darüber, wer für die von uns genutzten sozialen Medien
        verantwortlich ist, welche Daten und für welche Zwecke die sozialen Plattformen
        Daten nach eigener Aussage verarbeiten, Informationen zu Sicherungsmechanismen,
        die einen Datentransfer in das EU-Ausland rechtfertigen sowie zu Einstellungsmöglichkeiten
        bei den Plattformen zum Schutz Ihrer Privatsphäre, finden Sie im Folgenden:
      </p>
      <ul class="mx-4">
        <li>Twitter: <br>
          Unsere Onlinepräsenz: <a href="https://twitter.com/VarsAndNumbers">https://twitter.com/VarsAndNumbers</a>; <br>
          Verantwortlicher für den Kurznachrichtendienst: Twitter Inc., 1355 Market
          Street, Suite 900, San Francisco, CA 94103 U.S.A.; Verantwortlicher für
          die Datenverarbeitung von Personen, die außerhalb der Vereinigten Staaten
          leben: Twitter International Company, One Cumberland Place, Fenian Street,
          Dublin 2 D02 AX07, Irland; Datenschutzerklärung
          <a href="https://twitter.com/de/privacy">https://twitter.com/de/privacy</a>;
          EU-US-Privacy Shield: <a href="https://www.privacyshield.gov/participant?id=a2zt0000000TORzAAO&status=Active">https://www.privacyshield.gov/participant?id=a2zt0000000TORzAAO&status=Active</a>;
          Einstellung zu Benachrichtigungen und Privatsphäre:
          <a href="https://twitter.com/account/settings">https://twitter.com/account/settings</a>;
        </li>
        <li>LinkedIn: <br> Unsere Onlinepräsenz: <a href="https://www.linkedin.com/in/dmitriy-sevkovych">https://www.linkedin.com/in/dmitriy-sevkovych</a>; <br>
          Verantwortlicher für die soziale Plattform: LinkedIn Ireland Unlimited
          Company Wilton Place, Dublin 2, Irland; Datenschutzerklärung:
          <a href="https://www.linkedin.com/legal/privacy-policy">https://www.linkedin.com/legal/privacy-policy</a>;
          EU-US-Privacy Shield: <a href="https://www.privacyshield.gov/participant?id=a2zt0000000L0UZAA0&status=Active">https://www.privacyshield.gov/participant?id=a2zt0000000L0UZAA0&status=Active</a>;
          Einstellung zu Benachrichtigungen und Privatsphäre:
          <a href="https://www.linkedin.com/psettings/guest-controls">https://www.linkedin.com/psettings/guest-controls</a>;
        </li>
        <li>GitHub: <br>
          Unsere Onlinepräsenz: <a href="https://github.com/DmitriySevkovych">https://github.com/DmitriySevkovych</a>; <br>
          Verantwortlicher für die Plattform: GitHub, Inc., 88 Colin P Kelly Jr Street,
          San Francisco, California 94107; Datenschutzerklärung:
          <a href="https://help.github.com/en/articles/github-privacy-statement">https://help.github.com/en/articles/github-privacy-statement</a>;
          EU-US-Privacy-Shield: <a href="https://www.privacyshield.gov/participant?id=a2zt000000001K2AAI&status=Active">https://www.privacyshield.gov/participant?id=a2zt000000001K2AAI&status=Active</a>.
        </li>
      </ul>
      <p>
        Mit Nutzung der sozialen Plattformen werden Ihre personenbezogenen Daten
        von den Verantwortlichen erfasst, übertragen, gespeichert, offengelegt und
        verwendet und dabei unabhängig von Ihrem Wohnsitz in die Vereinigten Staaten
        und jedes andere Land, in dem die soziale Plattform geschäftlich tätig wird,
        übertragen und dort genutzt. <strong>Bei den Anbietern der sozialen Plattformen
          handelt es sich um außereuropäische Unternehmen, die sich allenfalls
          eingeschränkt an europäische Datenschutzvorschriften gebunden fühlen.
        </strong> Dies kann sich etwa auf Ihre Betroffenenrechte nach der DSGVO auswirken. <br>
        Die sozialen Plattformen verarbeiten im Regelfall die folgenden Daten:
      </p>
      <ul class="mx-4">
        <li>Daten, die Sie freiwillig eingeben, etwa Name, Anmeldedaten, Kontaktdaten
          sowie möglicherweise Daten zu Ihren Kontakten aus Ihrem Adressbuch (soweit
          Sie dies hochladen oder synchronisieren);
        </li>
        <li>
          Daten, die sich aus den von Ihnen geteilten Inhalte ableiten lassen (etwa
          Interessen für bestimmte Themen);
        </li>
        <li>
          Daten, die sich aus einer Kommunikation mit Dritten oder den Umständen
          Ihrer Kommunikation ableiten lassen, etwa Inhalte von vertraulichen
          Nachrichten, ortsbezogene Informationen, Informationen zu Drahtlosnetzwerken etc.;
        </li>
        <li>
          Daten, die entstehen, wenn Sie sich Inhalte ansehen (auch soweit Sie keinen
          Account erstellt haben), etwa IP-Adresse, Browsertyp, Betriebssystem,
          Informationen zu der zuvor aufgerufenen Webseite etc.
        </li>
      </ul>
      <p>
        Zudem nutzen die sozialen Plattformen möglicherweise Analyse-Tools und Cookies
        zur Auswertung Ihrer Daten. Soweit Analyse-Tools und Cookies eingesetzt werden,
        haben wir diese nicht in Auftrag gegeben oder auf sonstige Weise unterstützt. <br>
        Soweit personenbezogene Daten analysiert werden, werden uns diese Daten nicht
        zur Verfügung gestellt. Lediglich nicht-personenbezogene Informationen (etwa
        über Tweet-Aktivitäten) sind für uns einsehbar. <br>
        Sie haben die Möglichkeit, die Verarbeitung Ihrer Daten zu beschränken. Nutzen
        Sie dafür bitte die allgemeinen Einstellungen Ihres Accounts bei den sozialen
        Plattformen (beispielsweise unter der Rubrik "Datenschutz und Sicherheit")
        sowie bei Zugriff per Mobilfunkgerät die dortigen Einstellmöglichkeiten
        (etwa Beschränkung der Zugriffsmöglichkeiten auf Kontakt- und Kalenderdaten etc.).
      </p>
      <h4>2.4.2 Verarbeitung von Daten durch uns</h4>
      <p>
        Auch wir verarbeiten Ihre personenbezogenen Daten bei Nutzung der sozialen
        Plattformen. Zwar erheben wir selbst keine personenbezogenen Daten von Ihnen
        über unsere Accounts. Die von Ihnen eingegebenen Daten (etwa Nutzername,
        Beiträge in Kurznachrichten), werden von uns aber möglicherweise genutzt,
        um eine Antwort zu verfassen oder Ihre Nachricht zu teilen (re-tweeten).
        Auf diese Weise werden die von Ihnen veröffentlichten Daten unseren Followern
        zugänglich gemacht. <br>
        Für unsere Datenverarbeitung gelten die unter Ziffer 2.2 dargestellten
        Grundsätze entsprechend.
      </p>

      <h3>2.5 Keine gesetzliche oder vertragliche Pflicht zur Bereitstellung</h3>
      <p>
        Die Bereitstellung Ihrer personenbezogenen Daten ist gesetzlich nicht
        vorgeschrieben. Das bedeutet, dass Sie nicht verpflichtet sind, uns Ihre
        personenbezogenen Daten zur Verfügung zu stellen. Wenn Sie uns Ihre
        personenbezogenen Daten nicht zur Verfügung stellen, hat dies jedoch zur
        Folge, dass wir unter Umständen mit Ihnen nicht kommunizieren oder kein
        Vertragsverhältnis eingehen oder abwickeln können.
      </p>

      <h2>3. Übermittlung Ihrer personenbezogenen Daten an Empfänger</h2>
      <p>
        Eine Weitergabe Ihrer Daten erfolgt – soweit unter Ziffer 2 nicht ausdrücklich
        erläutert – grundsätzlich nicht. Soweit bei den unter Ziffer 2 genannten
        Verarbeitungen Daten an die Server der durch uns beauftragen Anbieter von
        Tracking- oder Targetingtechnologien oder Anbieter von sozialen Plattformen
        in den USA übermittelt werden, erfolgt diese Datenübermittlung nach den
        Grundsätzen des sogenannten "EU-US-Privacy-Shield".
      </p>

      <h2>4. Ihre Rechte (einschließlich des Widerspruchsrechts)</h2>
      <p>
        Gemäß geltender Datenschutzgesetze haben Sie folgende Rechte:
      </p>
      <ul class="mx-4">
        <li><strong>Recht auf Auskunft:</strong> Sie können Auskunft darüber verlangen,
          ob wir personenbezogene Daten von Ihnen verarbeiten. Ist dies der Fall,
          so haben Sie ein Recht auf Auskunft über diese personenbezogenen Daten
          sowie auf weitere mit der Verarbeitung zusammenhängende Informationen
          (Artikel 15 DSGVO). Bitte beachten Sie, dass dieses Auskunftsrecht in
          bestimmten Fällen eingeschränkt oder ausgeschlossen sein kann.
        </li>
        <li><strong>Recht auf Berichtigung:</strong> Für den Fall, dass personenbezogene
          Daten über Sie nicht (mehr) zutreffend oder unvollständig sind, können Sie
          eine Berichtigung und gegebenenfalls Vervollständigung dieser Daten verlangen
          (Artikel 16 DSGVO).
        </li>
        <li><strong>Recht auf Löschung oder Einschränkung:</strong> Bei Vorliegen
          der gesetzlichen Voraussetzungen können Sie die Löschung Ihrer personenbezogenen
          Daten (Artikel 17 DSGVO) oder die Einschränkung der Verarbeitung dieser Daten
          (Artikel 18 DSGVO) verlangen, etwa wenn die Verarbeitung dieser personenbezogenen
          Daten für die Zwecke, für die wir diese erhoben haben, nicht mehr erforderlich ist.
        </li>
        <li><strong>Recht auf Unterrichtung:</strong> Haben Sie das Recht auf Berichtigung,
          Löschung oder Einschränkung der Verarbeitung gegen uns geltend gemacht,
          sind wir verpflichtet, allen Empfängern, denen die Sie betreffenden personenbezogenen
          Daten offengelegt wurden, diese Berichtigung oder Löschung der Daten oder
          Einschränkung der Verarbeitung mitzuteilen, es sei denn, dies erweist sich
          als unmöglich oder ist mit einem unverhältnismäßigen Aufwand verbunden. Ihnen
          steht gegenüber uns das Recht zu, über diese Empfänger unterrichtet zu werden.
        </li>
        <li><strong>Recht auf Datenübertragbarkeit:</strong> Unter bestimmten Voraussetzungen
          haben Sie das Recht, die Sie betreffenden personenbezogenen Daten, die Sie uns
          bereitgestellt haben, in einem bestimmten Format zu erhalten oder diese
          Daten einem anderen Verantwortlichen zu übermitteln (Artikel 20 DSGVO).
        </li>
        <li><strong>Recht zur Beschwerde bei einer Aufsichtsbehörde:</strong> Sie können gegen
          die Verarbeitung Ihrer personenbezogenen Daten durch uns bei einer Datenschutzbehörde
          Beschwerde einlegen, insbesondere in dem EU-Mitgliedstaat, in dem Ihr
          gewöhnlicher Aufenthaltsort oder Arbeitsplatz ist oder es zu einer
          vermeintlichen Verletzung anwendbarer Datenschutzgesetze gekommen ist
          (Artikel 77 DSGVO). <br>
          Die Kontaktdaten der Aufsichtsbehörde an unserem Firmensitz lauten: <br>
          Der Landesbeauftragte für den Datenschutz Baden-Württemberg <br>
          Königstraße 10a <br>
          70173 Stuttgart <br>
          <br>
          Telefon 0711/615541-0 <br>
          Telefax 0711/615541-15 <br>
          E-Mail: poststelle(at)lfd.bwl.de
        </li>
      </ul>
      <p class="mx-auto mx-md-5 highlighted">
        Zudem <strong>haben Sie das Recht</strong> jederzeit <strong>Widerspruch</strong>
        gegen die Verarbeitung Ihrer personenbezogenen Daten durch uns einzulegen,
        und zwar (i) bei Direktwerbung jederzeit oder (ii) im Übrigen aus Gründen,
        die sich aus Ihrer besonderen Situation ergeben, wenn wir Ihre personenbezogenen
        Daten zur Wahrung unserer berechtigten Interessen auf Grundlage von Artikel 6
        Absatz 1 S. 1 lit. f DSGVO verarbeiten (Artikel 21 Abs. 1 und Abs. 2 DSGVO). <br>
        <br>
        Eine Verarbeitung Ihrer personenbezogener Daten für Direktwerbung werden
        wir im Falle eines Widerspruchs in jedem Fall, bei einer Datenverarbeitung
        aus anderen Gründen im Regelfall einstellen, soweit wir nicht zwingende
        schutzwürdige Gründe für die Verarbeitung nachweisen können, die Ihre
        Interessen, Rechte und Freiheit überwiegen, oder die Verarbeitung der
        Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen dient.
      </p>

      <p>
        Zur Ausübung Ihrer vorgenannten Rechte müssen bestimmte rechtliche Voraussetzungen
        erfüllt sein und in bestimmten Fällen können Ihre Rechte aufgrund rechtlicher
        Ausnahmen, insbesondere der in Artikel 17 Absatz 3 und Artikel 22 Absatz 2 der
        DSGVO oder in nationalen Gesetzen enthaltenen Ausnahmen, eingeschränkt sein.
        Bei Fragen in Bezug auf Ihre Rechte und deren Einschränkungen kontaktieren Sie
        bitte unseren Datenschutzbeauftragten unter den vorstehend angegebenen Kontaktdaten. <br>
        <br>
        <strong>Zur Ausübung Ihrer Rechte kontaktieren Sie uns bitte unter den in
          Ziffer 1 angegebenen Kontaktdaten.</strong>
      </p>
    </div>
  </div>

</div>
