<div class="container-fluid foreground" id="contentContainer">
  <div class="row">

    <div class="col-md-8 col-lg-5 ml-md-auto" id="titleContainer">
      <div class="mx-auto" id="titleBox">
        <h1 id="title">{{site.title}}</h1>
        <h2 id="subtitle">{{site.subtitle}}</h2>
      </div>
    </div>

    <div class="col-12 col-md-7 col-xl-5 d-none d-md-block" id="contentBox">
      <p id="contentLead">Hallo!</p>

      <p class="text-justify"> Ich bin ein freiberuflicher Softwareentwickler mit
        einem M.Sc.-Abschluss in Mathematik. Klingt wie zwei verschiedene Fachrichtungen?
        Richtig! Ich versuche das Beste aus den beiden Welten miteinander
        zu verknüpfen. Dieses Vorgehen bezeichne ich vereinfachend als <a href="services.html">"meine Arbeit"</a>.
        Denn schließlich sind Variablen und Zahlen genau dafür da, nicht wahr?
      </p>
    </div>

  </div>
</div>
