<div class="container-fluid">

  <div class="row">
    <div class="col-1 col-md-2 d-lg-none"></div>
    <div class="col-10 col-md-8 col-lg-4">
      <p class="services-header text-center mx-auto">
        Fragen Sie nach: <span id="typewriter"></span><span class="blink" id="caret">_</span>
        <!-- <i class="down"></i> -->
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-7 col-xl-8 ml-auto">
      <div class="services-scrollable">
        <div>
          Bitte <span id="instruction"></span>!
        </div>
        <div>
          Lieber Gast! Wird Ihr Unternehmen von einem Problem geplagt, zu dem Sie
          bis jetzt keine zufriedenstellende Lösung finden konnten?
        </div>
        <div>
          Oder ganz im Gegenteil: die bahnbrechende Idee ist bereits in Ihrem Kopf,
          aber Sie bräuchten eine kleine technologische Starthilfe?
        </div>
        <div>
          Unabhängig davon &mdash; wäre es nicht hilfreich, wenn Ihnen ein weiterer fähiger
          Mitarbeiter zur Verfügung stehen und Ihr Team unterstützen würde?
        </div>
        <div>
          Wie wäre es, wenn Sie sich über diese Probleme keine Gedanken mehr machen
          müssten? Sie kriegen das fertige Produkt. Und Long-Term-Support ist
          eine Option.
        </div>
        <div>
          Sie sind auf der Suche nach jemandem, der auch um die Ecke denken kann
          und sich nicht von Komplexität aus der Bahn werfen lässt?
        </div>
        <div>
          Sie haben Kunden mit einem hohen ästhetischen Anspruch? Ihr Produkt sollte ansprechend
          aussehen und einfach zu benutzen sein? Kurzum, gutes Design ist ein Muss?
        </div>
        <div>
          Oder Sie suchen einfach jemanden, der ein gutes Verständnis von Mathematik,
          Software, DevOps und Digital Design mitbringt?
        </div>
        <div>

        </div>
      </div>
    </div>

    <!-- <div class="services-round-up col-12 col-md-10 col-lg-8 mx-auto collapse"> -->
    <div class="services-round-up container-fluid collapse">
      <div class="col-12 col-md-10 col-lg-4 py-4 text-center mx-auto">
        <p>
          Jetzt aber Anspielungen beiseite. Selbstverständlich biete ich alle
          genannten Dienstleistungen an. Hier haben Sie noch einmal eine Übersicht
          meiner Leistungen im Klartext:
        </p>
      </div>

      <div class="col-12 col-md-6 text-center mx-auto">
        {% include {{page.lang}}/services_plain.html %}
      </div>

      <div class="col-12 col-md-10 col-lg-4 text-center mx-auto">
        <p>
          Nachdem Sie nun wissen was ich anbiete, ist es an der Zeit herauszufinden
          <a href="skills.html">was ich kann</a>.
          <span class="d-inline d-lg-none">Sie können auch nach links wischen,
            um zu der nächsten Seite zu gelangen. Oder nach rechts, um zurückzugehen.</span></p>
      </div>
    </div>

  </div>
