<div class="container-fluid" id="skillsIntro">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 col-md-4">
      <p class="skills-header text-justify">Wenn man mit Variablen und Zahlen zu tun hat,
        dann ist die Wahrscheinlichkeit hoch, dass ein gewisses mathematisches oder
        IT-Fachwissen benötigt wird, oder sogar beides!
        <br class="d-md-none"><br class="d-md-none">
        <span class="d-md-none d-lg-inline">Clicken Sie auf die Stichwörter
          und entdecken Sie die Fähigkeiten von Vars&Numbers.</span>
      </p>
    </div>
    <div class="col-md-2 d-none d-md-block d-lg-none"></div>
    <div class="col-md-4 d-none d-md-block d-lg-none">
      <p class="alt-skills-header text-justify">Clicken Sie auf die Stichwörter
        und entdecken Sie die Fähigkeiten von Vars&Numbers.</p>
    </div>
  </div>
</div>

<div class="row d-none d-md-block skills-container">
  <div class="col-11 col-lg-8" id="skillsAll">
    {% include {{page.lang}}/skills_graphic_all.html %}
  </div>

  <!-- Popups for "Mathematics" -->
  <div class="col-11 col-lg-8 skills-popup collapse" data-popup="skillSimulation">
    {% include popups/ger/numericalSimulation.html %}
  </div>
  <div class="col-11 col-lg-8 skills-popup collapse" data-popup="skillStatistics">
    {% include popups/ger/statistics.html %}
  </div>

  <!-- Popups for "Software" -->
  <div class="col-11 col-lg-8 skills-popup collapse" data-popup="skillFullStack">
    {% include popups/ger/fullStack.html %}
  </div>
  <div class="col-11 col-lg-8 skills-popup collapse" data-popup="skillWebDevelopment">
    {% include popups/ger/webDevelopment.html %}
  </div>
  <div class="col-11 col-lg-8 skills-popup collapse" data-popup="skillDigitalDesign">
    {% include popups/ger/digitalDesign.html %}
  </div>
  <div class="col-11 col-lg-8 skills-popup collapse" data-popup="skillDevops">
    {% include popups/ger/devops.html %}
  </div>

  <!-- Popups for "Both" -->
  <div class="col-11 col-lg-8 skills-popup collapse" data-popup="skillMachineLearning">
    {% include popups/ger/machineLearning.html %}
  </div>
  <div class="col-11 col-lg-8 skills-popup collapse" data-popup="skillDataScience">
    {% include popups/ger/dataScience.html %}
  </div>
</div>
