<div class="container-fluid" id="skillsIntro">
  <div class="row">
    <div class="col-1 d-lg-none"></div>
    <div class="col-10 col-md-4 col-lg-6 px-lg-5">
      <p class="skills-header text-justify">Wenn man mit Variablen und Zahlen zu tun hat,
        dann ist die Wahrscheinlichkeit hoch, dass mathematisches oder IT-Fachwissen benötigt wird &mdash; meist sogar beides!
        <br class="d-md-none"><br class="d-md-none">
        <span class="d-md-none d-lg-inline">Klicken Sie auf die Stichworte
          in der Infografik und finden Sie heraus wozu Vars&Numbers taugt.<br><br>
        </span>
        <span class="d-none d-lg-inline">
          Nächste Frage: <a href="aboutme.html"> wer war der Mann auf der ersten Seite?</a>
        </span>
      </p>
    </div>
    <div class="col-md-2 d-none d-md-block d-lg-none"></div>
    <div class="col-md-4 d-none d-md-block d-lg-none">
      <p class="alt-skills-header text-justify">Klicken Sie auf die Stichworte
        in der Infografik und finden Sie heraus wozu Vars&Numbers taugt.
      </p>
      <p class="alt-skills-header text-justify">
        Nächste Frage: <a href="aboutme.html"> wer war der Mann auf der ersten Seite?</a>
      </p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row d-none d-md-block skills-container">
    <div class="col-11 col-lg-8" id="skillsAll">
      {% include {{page.lang}}/skills_graphic_all.html %}
    </div>

    <!-- Popups for "Mathematics" -->
    <div class="col-11 col-lg-8 skills-popup collapse" data-popup="skillSimulation">
      {% include popups/{{page.lang}}/numericalSimulation.html %}
    </div>
    <div class="col-11 col-lg-8 skills-popup collapse" data-popup="skillStatistics">
      {% include popups/{{page.lang}}/statistics.html %}
    </div>

    <!-- Popups for "Software" -->
    <div class="col-11 col-lg-8 skills-popup collapse" data-popup="skillFullStack">
      {% include popups/{{page.lang}}/fullStack.html %}
    </div>
    <div class="col-11 col-lg-8 skills-popup collapse" data-popup="skillWebDevelopment">
      {% include popups/{{page.lang}}/webDevelopment.html %}
    </div>
    <div class="col-11 col-lg-8 skills-popup collapse" data-popup="skillDigitalDesign">
      {% include popups/{{page.lang}}/digitalDesign.html %}
    </div>
    <div class="col-11 col-lg-8 skills-popup collapse" data-popup="skillDevops">
      {% include popups/{{page.lang}}/devops.html %}
    </div>

    <!-- Popups for "Both" -->
    <div class="col-11 col-lg-8 skills-popup collapse" data-popup="skillMachineLearning">
      {% include popups/{{page.lang}}/machineLearning.html %}
    </div>
    <div class="col-11 col-lg-8 skills-popup collapse" data-popup="skillDataScience">
      {% include popups/{{page.lang}}/dataScience.html %}
    </div>
  </div>
</div>
