---
layout: default
assets : ../assets
lang: de
ref: main
description: Ich bin ein freiberuflicher Softwareentwickler mit einem M.Sc.-Abschluss in Mathematik. Ich beschäftige mich im Wesentlichen mit Allem was mit Variablen und Zahlen zu tun hat, zum Beispiel Full-Stack Web Development, maschinelles Lernen und numerische Simulation. Und ich mag Digital Design.
---

<div class="main-container">
  {% include univ/main_background.html %}
  {% include {{page.lang}}/main.html %}
  {% include univ/footer.html %}
</div>
