---
lang: en
ref: about me
description: Hi, I am a freelance software developer with a M.Sc. degree in mathematics. My focus lies basically on everything that deals with variables and numbers, namely full-stack web development, artificial intelligence and numerical simulation. And I like digital design.
---

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>{{site.data.vars.title_tab}}</title>
  <meta charset="utf-8">
  <meta name="description" content="{{site.data.vars.description}}">
  <meta name="keywords" content="{{site.data.vars.keywords}}">
  <meta name="author" content="{{site.data.vars.author}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="{{site.data.vars.favicon_type}}" href="{{site.data.vars.favicon}}">
  <link rel="stylesheet" href="/assets/css/aboutme.css">
</head>

<body>
  {% include eng/header.html %}

  <div class="main-container">
    {% include eng/aboutme_background.html %}
    {% include eng/aboutme_content.html %}
    {% include eng/footer.html %}
  </div>

  <script type="text/javascript" src="/assets/js/ext.min.js"> </script>
  <script type="text/javascript" src="/assets/js/aboutme.js"> </script>
</body>

</html>
