---
lang: en
ref: legal
description: Legal information on Vars&Numbers (individual enterprise)
---

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>{{site.data.vars.title_tab}}</title>
  <meta charset="utf-8">
  <meta name="description" content="{{page.description}}">
  <meta name="keywords" content="{{site.data.vars.keywords}}">
  <meta name="author" content="{{site.data.vars.author}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="{{site.data.vars.favicon_type}}" href="{{site.data.vars.favicon}}">
  <link rel="stylesheet" href="/assets/css/legal.css">
</head>

<body>
  {% include en/header.html %}

  <div class="main-container">
    {% include en/imprint.html %}
    {% include en/privacy.html %}
    {% include univ/footer.html %}
  </div>

  <script type="text/javascript" src="/assets/js/ext.min.js"></script>
  <script type="text/javascript" src="/assets/js/headerfooter.js"> </script>
  <script type="text/javascript" src="/assets/js/legal.js"> </script>
</body>

</html>
