---
---

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>{{site.data.vars.title_tab}}</title>
  <meta charset="utf-8">
  <meta name="description" content="{{site.data.vars.description}}">
  <meta name="keywords" content="{{site.data.vars.keywords}}">
  <meta name="author" content="{{site.data.vars.author}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{site.data.vars.favicon}}">
  <link rel="stylesheet" href="/assets/css/services.css">
</head>

<body>
  {% include eng/bootstrapped_header.html %}

  <div class="main">
    <h3 class="section-header">
      <!-- Everybody knows what vars and numbers are good for... <br> Or do they? -->
      Vars&Numbers can serve a lot of purposes. But which ones exactly?!
    </h3>

    <div class="background"></div>
    <div class="background-light"></div>
    <div class="graphics"> </div>
    <div class="graphics-2"> </div>

    <div class="content">
      {% include eng/bootstrapped_services.html %}
    </div>
  </div>

  {% include eng/bootstrapped_footer.html %}

  <script type="text/javascript" src="/assets/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/assets/js/services.js"> </script>
</body>

</html>
