---
lang: en
ref: thanks
title: Thank You
description: Thank you for submitting your request. I will contact you shortly.
---

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>{{site.data.vars.title_tab}}</title>
  <meta charset="utf-8">
  <meta name="description" content="{{site.data.vars.description}}">
  <meta name="keywords" content="{{site.data.vars.keywords}}">
  <meta name="author" content="{{site.data.vars.author}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/ico" href="{{ page.assets }}/img/favicons/favicon.ico">
  <link rel="stylesheet" href="/assets/css/thanks.css">
</head>

<body>

  {% include en/thanks.html%}

  {% include univ/footer.html %}

  <!-- <script type="text/javascript" src="/assets/js/ext.min.js"></script>
  <script type="text/javascript" src="/assets/js/headerfooter.js"> </script>
  <script type="text/javascript" src="/assets/js/main.js"> </script> -->
</body>

</html>
