<div class="container-fluid content-container">
  <div class="row">

    <div class="col-12 col-lg-5">
      <div class="row h-100">
        <div class="col-10 mx-auto text-justify" id="intro">
          <p id="title">Lights, camera, action!</p>

          <div class="align-self-center">
            <p>As you find yourself on an About-Me-page, I think it is time to get
              a little bit personal now. My wonderful wife has helped me to create
              a video CV about me. Play the video, don't miss out!</p>

            <p>By the way: you can download my
              <a href="/assets/downloads/Dmitriy_Sevkovych_CV_eng.pdf" download="CV - Dmitriy Sevkovych">regular CV</a>,
              if you need it. Should you want even more information about me,
              such as diploma or certificates of employment, I will be pleased to
              share it with you upon request.</p>

            <p>When you have gathered enough information about my persona, you can proceed
              to familiarising yourself with the <a href="customers.html"> people I work with</a>.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-7">
      <video controls>
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>
