<div class="container-fluid text-container">
  <div class="row" id="contactText">
    <!-- <div class="col-1 col-lg-2"></div> -->
    <div class="col-10 col-lg-6 mx-auto">
      <p class="contact-header">Want to talk? Awesome!</p>
      <p>Just one more step left to take. Write me an e-mail (you can simply click
        on the mail address to open your mail client), or, if you prefer, let's
        get in touch via <a href="https://twitter.com/VarsAndNumbers">Twitter</a>,
        <a href="https://www.linkedin.com/in/dmitriy-sevkovych">LinkedIn</a>
        or <a href="https://github.com/DmitriySevkovych">GitHub</a>.
      </p>
      <p>
        If you wish to protect your e-mail message with PGP encryption, please download my
        <a href="/assets/downloads/varsandnumbers_public.asc" download="varsandnumbers_public.asc">public key</a>
        before clicking on the link.
      </p>
    </div>

    <div class="w-100"></div>

    <div class="col-10 col-lg-6 mx-auto my-4">
      <a id="mailto"></a>
    </div>

    <div class="w-100"></div>

    <div class="col-10 col-lg-6 mx-auto">
      <p> As for one final word, I would like to thank you very much for visiting my
        website. I hope that you have gained some informative insight into the world
        of Vars&Numbers, and that you had a bit of fun while doing so. And do not
        hesitate to contact me if you feel that I might be of help to you.
      </p>
      <p class="text-right mt-4">
        Best regards, <br> Dmitriy Sevkovych
      </p>
    </div>
  </div>
</div>
