<h1>YOU</h1>
<h2>Become my customer and be happy!</h2>

<div class="focus-image">
  <img src="/assets/img/Uncle_Sam.png" alt="Uncle_Sam">
</div>

<!-- <p>
  I am just kidding. Of course I want to make a good impression and acquire
  a new customer. But the intention here is to give you an idea about who I am
  working with, not to rush you into any decisions. So take your time, click on
  the icons below and have fun exploring.
</p> -->

<p>
  I am just kidding. Of course I want to make a good impression and acquire
  a new customer. But my intention here is to give you an idea
  of how I can be of help to a customer, not to rush you into any decisions. So
  take your time, click on the icons <span class="d-none d-lg-inline">below</span>
  <span class="d-lg-none">above</span> and have fun exploring.
</p>
