<h1>TWT GmbH</h1>
<h2>Science & Innovation</h2>

<div class="customer-data row">
  <div class="keyword col-4">
    <p>Projects:</p>
  </div>
  <div class="col-8">
    <p>1</p>
  </div>

  <div class="keyword col-4">
    <p>Industry:</p>
  </div>
  <div class="col-8">
    <p>Automotive</p>
  </div>

  <div class="keyword col-4">
    <p>Technologies:</p>
  </div>
  <div class="col-8">
    <p>Web Services, Eclipse RAP, Oracle SQL Databases</p>
  </div>
</div>

<div class="customer-feedback row">
  <div class="customer-face col-5">
    <img src="" alt="TWT GmbH">
    <strong>Dr. Stefan Gulan</strong><br>
    <em>Business Unit Manager Digital Transformation</em>
  </div>
  <div class="customer-content col-7">

  </div>
</div>
