<h1>TWT GmbH</h1>
<h2>Science & Innovation</h2>

<div class="customer-data row">
  <div class="keyword col-4">
    <p>Projects:</p>
  </div>
  <div class="col-8">
    <p>1</p>
  </div>

  <div class="keyword col-4">
    <p>Industry:</p>
  </div>
  <div class="col-8">
    <p>Automotive</p>
  </div>

  <div class="keyword col-4">
    <p>Techs:</p>
  </div>
  <div class="col-8">
    <p>Web Services, Eclipse RAP, Oracle SQL Databases</p>
  </div>
</div>

<div class="customer-feedback-container row">
  <div class="customer-rep col-5">
    <div class="customer-face">
      {% include icons/TWT.html%}
    </div>
    <strong>Dr. Stefan Gulan</strong><br>
    <em>Business Unit Manager Digital Transformation</em>
  </div>
  <div class="customer-feedback col-7">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
      irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>
