<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6" id="vision">
      <div class="row">
        <p class="lead col-10 mx-auto">One of the main selling points behind Vars&Numbers is the ability to enrich
          the wealth of knowledge of my customers.
        </p>
      </div>

      <div class="row">
        <p class="col-10 mx-auto">
          This could mean to do better things. Or to do the same things, but better.
          I am here to help with both.
        </p>

        <p class="col-10 mx-auto">The mere attempt to keep up with the pace at which
          the digital world evolves is not an easy task. And this is
          what I am here to help you with. I have a wide and deep enough understanding of
          the most important technologies and techniques in software architecture, software development, DevOps
          and mathematics to be able to find the fitting solution to your specific problem; 
          and I also know how to use my tools, not only what they can be used for, because 
          I am a doer, not only a consultant.
        </p>
      </div>

      <div class="row">
        <p class="col-10 mx-auto">Speaking of customers. You might want to see a few examples of happy
          clients that are already benefitting from cooperating with Vars&Numbers.
          You can do so by playing around with the slider <span class="d-none d-lg-inline">on the right</span>
          <span class="d-lg-none">down below</span>.
          I am still working on adding to the list of my customers. This is why
          good old Uncle Sam is here with us today.
        </p>
      </div>
    </div>

    <div class="col-lg-6 pr-lg-5" id="customers">
      <div class="customers-focus">
        <div>{% include {{page.lang}}/customers_you.html %}</div>
        <div>{% include {{page.lang}}/customers_ice_ice_baby.html %}</div>
      </div>

      <div class="customers-slider">
        <div>{% include icons/Logo.html %}</div>
        <img class="customers-icon" src="./assets/img/IceIceBaby.png" alt="Gelateria Ice Ice Baby">
      </div>

    </div>
  </div>
</div>
