<h1>Gelateria Ice Ice Baby</h1>
<h2>The best gelateria in town</h2>

<div class="customer-data row">
  <!-- <div class="keyword col-4">
    <p>Projects:</p>
  </div>
  <div class="col-8">
    <p>1</p>
  </div> -->

  <div class="keyword col-12 col-md-4">
    <p>Abstract</p>
  </div>
  <div class="col-12 col-md-8">
    <p>In order to build up an online presence, <em>Ice Ice Baby</em> have asked me
      to <a href="https://icebaby.de"><strong>design and code their website</strong></a>.
      I had tons of fun, and I am really happy with the final result. But you see and decide
      for yourself whether you like it or not. Oh, and should you be in or around
      Stuttgart: do pay Ice Ice Baby a visit, their ice cream is great!
    </p>
  </div>

  <div class="keyword col-12 col-md-4">
    <p>Techs</p>
  </div>
  <div class="col-12 col-md-8">
    <p>HTML5, SASS, Bootstrap, Webpack, Google Maps, a bit of JS magic...</p>
  </div>
</div>

<hr>

<div class="customer-feedback-container row">
  <div class="customer-feedback col-12">

    <div class="customer-rep">
      <div class="customer-face">
        <img src="assets/img/Schwarzenberger.jpg" alt="Customer">
      </div>
      <strong>Paul Schwarzenberger</strong><br>
      <em>Owner</em>
    </div>

    <p>Dmitriy did an awesome job. He was
      fast, efficient, well-organised and constantly kept us up to date. We had
      a kick-off meeting to which he came very well prepared. Only a short time
      later we were presented a prototype of a website that conveyed our corporate
      identity in a modern and appealing way. The remainder of the project went
      just as professional and seamless as its start.
    </p>
  </div>
</div>
