<div class="container-fluid foreground" id="contentContainer">
  <div class="row">

    <div class="col-md-8 col-lg-5 ml-md-auto" id="titleContainer">
      <div class="mx-auto ml-md-auto mr-md-5" id="titleBox">
        {% include icons/Logo_main.html %}
      </div>
    </div>

    <div class="col-12 col-md-7 col-xl-5 d-none d-md-block" id="contentBox">
      <p id="contentLead">Hi there!</p>

      <p class="text-justify"> I am a self-employed software developer with a master's degree in
        mathematics. Sounds like two different subjects? They are, and that's awesome!
        I try to bring the two worlds together and make them complement each other.
        I use to call this <a href="services.html">"my work"</a>. After all, that's what vars and numbers are here for, right?
      </p>
    </div>

  </div>
</div>
