<div class="container-fluid d-md-none" id="mobileContainer">

  <div class="mobile-background-dark"></div>

  <!-- "Software" -->
  <div class="mobile-background-light">
    <div class="mobile-popup-container">
      <div class="p-4 mobile-skills-content" id="skillsSoft">
        {% include {{page.lang}}/skills_graphic_software.html %}
      </div>
      <!-- Popups for "Software" -->
      <div class="p-4 mobile-skills-popup collapse" data-popup="skillFullStack">
        {% include popups/{{page.lang}}/fullStack_mob.html %}
      </div>
      <div class="p-4 mobile-skills-popup collapse" data-popup="skillWebDevelopment">
        {% include popups/{{page.lang}}/webDevelopment_mob.html %}
      </div>
      <div class="p-4 mobile-skills-popup collapse" data-popup="skillDigitalDesign">
        {% include popups/{{page.lang}}/digitalDesign_mob.html %}
      </div>
      <div class="p-4 mobile-skills-popup collapse" data-popup="skillDevops">
        {% include popups/{{page.lang}}/devops_mob.html %}
      </div>
    </div>
  </div>

  <!-- "Mathematics" -->
  <div class="mobile-background-dark">
    <div class="mobile-popup-container">
      <div class="p-4 mobile-skills-content" id="skillsMaths">
        {% include {{page.lang}}/skills_graphic_mathematics.html %}
      </div>
      <!-- Popups for "Mathematics" -->
      <div class="p-4 mobile-skills-popup collapse" data-popup="skillSimulation">
        {% include popups/{{page.lang}}/numericalSimulation_mob.html %}
      </div>
      <div class="p-4 mobile-skills-popup collapse" data-popup="skillStatistics">
        {% include popups/{{page.lang}}/statistics_mob.html %}
      </div>
    </div>
  </div>

  <!-- "Both" -->
  <div class="mobile-background-light">
    <div class="mobile-popup-container">
      <div class="p-4 mobile-skills-content" id="skillsBoth">
        {% include {{page.lang}}/skills_graphic_both.html %}
      </div>
      <!-- Popups for "Both" -->
      <div class="p-4 mobile-skills-popup collapse" data-popup="skillDataScience">
        {% include popups/{{page.lang}}/dataScience_mob.html %}
      </div>
      <div class="p-4 mobile-skills-popup collapse" data-popup="skillMachineLearning">
        {% include popups/{{page.lang}}/machineLearning_mob.html %}
      </div>
    </div>
  </div>

  <div class="p-4 mobile-background-dark">
    <p class="text-center">Next important question: <br> <a href="aboutme.html">Who was that guy on the main page?</a></p>
  </div>

</div>
