<div class="container-fluid content-container">
  <div class="row">

    <div class="col-12 col-lg-5">
      <div class="row">
        <div class="col-10 mx-auto text-justify" id="intro">
          <p id="title">Lights, camera... action!</p>

          <p>As you find yourself on an About-Me-page, I think it is time to get
            a little bit personal now. My wonderful wife has helped me to create
            a video CV about me. Play the video, don't miss out!</p>

          <p>By the way, you can download my regular CV, if you like. The other
            download for the other documents (diplomas, certificates of employment,
            etc.) is password protected. Feel free to ask for the password though.</p>
        </div>
        <div class="col-10 mx-auto text-right" id="downloadResources">
          <div class="download-resource">
            <a href="/assets/downloads/Dmitriy_Sevkovych_CV_eng.pdf" download="CV - Dmitriy Sevkovych">CV</a>
          </div>
          <div class="download-resource">
            <a href="/assets/downloads/protected/test.pdf" download="BSc - Dmitriy Sevkovych">BSC</a>
          </div>
          <div class="download-resource">
            <a href="/assets/downloads/protected/test.pdf" download="MSc - Dmitriy Sevkovych">MSC</a>
          </div>
          <div class="download-resource">
            <a href="/assets/downloads/protected/test.pdf" download="Certificates - Dmitriy Sevkovych">Certs</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-7 video-container">
      <video controls>
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>
