<div class="container-fluid">

  <!-- the upper part of the page, containing the form for submitting the user data -->
  <div class="row" id="contactForm">
    <div class="col-2"></div>

    <div class="col-8">
      <form class="" action="#" method="post">

        <div id="customerContact">
          <label><span>Your name</span>
          <input type="text" name="name" placeholder="Enter your name here"></label>

          <label><span>How to contact you</span>
          <input type="text" name="email" placeholder="Enter your e-mail here"></label>
        </div>

        <label><span>What do you want to talk about</span>
        <textarea name="message" cols="1"></textarea></label>

        <input type="submit" name="submit" value="Let's go!">
      </form>
    </div>

    <div class="col-2"></div>
  </div>

  <!-- the lower part of the page, containing some links -->
  <div class="row" id="contactInfo">
    <div class="col-12" id="mailBig"> {{ site.data.vars.email }} </div>

    <div class="col-2"></div>
    <div class="col-4"></div>
    <div class="col-4"></div>
    <div class="col-2"></div>
  </div>

</div>
