<header>
  <nav>
      <a href="#">Services</a>
      <a href="#">Expertise</a>
      <a href="#">About Me</a>
      <a href="#">References</a>
      <a href="#">Contact</a>
      <div class="svg-parent"> {% include icons/Line_upper.html %} </div>
  </nav>

  <a id="lets-talk" class="highlight" href="#">Let's Talk!</a>

</header>

<div class="main">

  <div class="light-box">
    <div class="title-box highlight">
      <h1 id="title">{{site.data.vars.title}}</h1>
      <h4 id="subtitle">{{site.data.vars.subtitle}}</h3>
    </div>

    <div>
      <p id="software" class="animate-software">Software</p>
    </div>
  </div>

  <div class="dark-box">
    <div class="intro">
      <p>Hi there!</p>

      <p> I am a self-employed software developer with a university degree in
      mathematics. Sounds like two different things? Quite so. Which is the one
      that I can help you with?</p>

      <p id="maths" class="animate-maths">Mathematics</p>
    </div>
  </div>

  <div class="svg-parent">
    {% include icons/Line_lower.html %}
  </div>

</div>
