<div class="container-fluid foreground" id="contentContainer">
  <div class="row">

    <div class="col-md-8 col-lg-5 ml-md-auto" id="titleContainer">
      <div class="mx-auto" id="titleBox">
        <h1 id="title">{{site.data.vars.title}}</h1>
        <h3 id="subtitle">{{site.data.vars.subtitle}}</h3>
      </div>
    </div>

    <div class="col-12 col-md-6 col-xl-5 mx-auto d-none d-md-block" id="contentBox">
      <p id="contentLead">Hi there!</p>

      <p class="text-justify"> I am a self-employed software developer with a master's degree in
        mathematics. Sounds like different things? They are, and that's the point!
         I would describe <a href="services.html">my work</a> as consisting
         of two parts: solving complex problems on the one hand, but also making
         solutions fit together. After all, that's what vars and numbers are here for, right?
      </p>
    </div>

  </div>
</div>
