<div class="container-fluid foreground" id="contentContainer">
  <div class="row">

    <div class="col-md-6 mx-auto" id="contentBox">
      <p class="display-4 align-middle">Hi there!</p>

      <p class="text-justify"> I am a self-employed software developer with a master's degree in
        mathematics. Sounds like two different things? Quite so. Which is the one
        that I can help you with?
      </p>
    </div>

    <div class="col-md-5"></div>

  </div>
</div>

<div class="container-fluid foreground">
  <div class="row">
    <div class="col-md-8 col-lg-6 ml-md-auto" id="titleContainer">
      <div class="mx-auto" id="titleBox">
        <h1 id="title">{{site.data.vars.title}}</h1>
        <h3 id="subtitle">{{site.data.vars.subtitle}}</h3>
      </div>

    </div>
  </div>
</div>
