<div class="container-fluid background">
  <div class="row">
    <div class="col-md-6 mx-auto" id="darkBox">
      <!-- <p id="maths" class="d-none d-md-block animate-maths">Mathematics</p> -->
      <img class="d-none d-md-block image" id="imageLeft" src="./assets/img/me.png" alt="Vars&Numbers">
    </div>

    <div class="col-md-5 mx-auto d-none d-md-block" id="lightBox">
      <!-- <p id="software" class="d-none d-md-block animate-software">Software</p> -->
      <img class="d-none d-md-block image" id="imageRight" src="./assets/img/me.png" alt="Vars&Numbers">
    </div>
  </div>

  <div class="container-fluid d-none d-md-block" id="containerLowerLine">
    {% include icons/Line_lower.html %}
  </div>
</div>
