<div class="get-attention scrollable">

  <div data-index='0' id="scroll-prompt"><p>Please scroll!</p></div>

  <ul>
    <li data-index='1' class="yet-to-show">
      Dear guest! Does your enterprise have a problem, but you struggle to find a satisfying solution?
    </li>
    <li data-index='2' class="yet-to-show">
      Or on the contrary: the gamechanger idea is in your head, but you need
     advice to make it kick into gear?
    </li>
    <li data-index='3' class="yet-to-show">
      In any case, wouldn't it be helpful to have another capable person get their
      hands dirty and contribute to your project?
    </li>
    <li data-index='4' class="yet-to-show">
      What if you don't want to have to deal with the matter at all? How about
      just getting the finished product? Oh, and long-time support would be great!
    </li>
    <li data-index='5' class="yet-to-show">
      You search for a person who can think around the corner and doesn't get
      lost in the complexity?
    </li>
    <li data-index='6' class="yet-to-show">
      Need to present your product to picky customers? You want it to look neat or
      extra-user-friendly or fancy or ... in short, a good design is a must?
    </li>
    <li data-index='7' class="yet-to-show">
      Or you simply search for somebody who has sound knowledge of mathematics,
      software, DevOps or digital design?
    </li>
  </ul>
</div>

<div data-index='8' class="round-up yet-to-show">
  If you find yourself in any of these situations: how about giving me a go at it?
  Of course I offer all of the services that are alluded to, but allusions aside:
  here is an overview of <a href="legal.html">services and prices in plain terms</a>.
  <br><br>
  That said, please continue on this page to find out more information about
  who I am and what I do.
</div>
