<div class="container-fluid">

  <div class="row">
    <div class="col-1 col-md-2 d-lg-none"></div>
    <div class="col-10 col-md-8 col-lg-4">
      <p class="services-header text-center mx-auto">
        Here is what I do:
        <!-- <span class="services-attention">Vars&Numbers</span> can provide you with very useful services. Let's take a look at some of them. -->
      </p>
    </div>
  </div>

  <div class="row" id="servicesScrollable">
    <div class="col-12 col-lg-7 ml-auto">
      <div class="services-scrollable">
        <div>
          Please <span id="instruction"></span>!
        </div>
        <div>
          Dear guest! Does your enterprise have a problem, but you struggle to find
          a satisfying solution?
        </div>
        <div>
          Or on the contrary: the gamechanger idea is in your head, but you need
          a little advice to make it kick into gear?
        </div>
        <div>
          In any case, wouldn't it be helpful to have another capable person get their
          hands dirty and contribute to your project?
        </div>
        <div>
          What if you don't want to have to deal with the matter at all? Just get
          the finished product. Oh, and long-time support would be great!
        </div>
        <div>
          You search for a person who can think around the corner and doesn't get
          lost in the complexity?
        </div>
        <div>
          Need to present your product to picky customers? You want it to look neat or
          extra-user-friendly or fancy or ... in short, a good design is a must?
        </div>
        <div>
          Or you simply search for somebody who has sound knowledge of mathematics,
          software, DevOps and digital design?
        </div>
        <div>
          <!-- Keep on going! Almost done! -->
        </div>
      </div>
    </div>

    <!-- <div class="services-round-up col-12 col-md-10 col-lg-8 mx-auto collapse"> -->
    <div class="services-round-up container-fluid collapse">
      <div class="col-12 col-md-10 col-lg-4 text-center mx-auto">
        <p>
          In case you find yourself in any of these situations: <br><br>
          Of course I offer all of the services that are alluded to, but let's put the allusions aside.
          Here is an overview of my services in plain terms:
        </p>
      </div>

      <div class="col-12 col-md-6 text-center mx-auto">
        {% include eng/services_plain.html %}
      </div>

      <div class="col-12 col-md-10 col-lg-4 text-center mx-auto">
        <p>
          That being said, I think it is time for you to find out <a href="skills.html">what I am good at</a>.
          <span class="d-inline d-lg-none">You can also swipe left in order to do so, or swipe right to go back.</span></p>
      </div>
    </div>

  </div>
