<div class="scrollable">
  <div class="scroll-prompt">
    <p>Please scroll down!</p>
  </div>
  <div class="filler"></div>
</div>

<div class="get-attention">
  <ul>
    <li data-index='1' class="yet-to-show">
      Dear guest! Does your enterprise have a problem, but you struggle to find a satisfying solution?
    </li>
    <li data-index='2' class="yet-to-show">
      Or on the contrary: the gamechanger idea is in your head, but you need
      advice to make it kick into gear?
    </li>
    <li data-index='3' class="yet-to-show">
      In any case, wouldn't it be helpful to have another capable person get their
      hands dirty and contribute to your project?
    </li>
    <li data-index='4' class="yet-to-show">
      What if you don't want to have to deal with the matter at all? How about
      just getting the finished product? Oh, and long-time support would be great!
    </li>
    <li data-index='5' class="yet-to-show">
      You search for a person who can think around the corner and doesn't get
      lost in the complexity?
    </li>
    <li data-index='6' class="yet-to-show">
      Need to present your product to picky customers? You want it to look neat or
      extra-user-friendly or fancy or ... in short, a good design is a must?
    </li>
    <li data-index='7' class="yet-to-show">
      Or you simply search for somebody who has sound knowledge of mathematics,
      software, DevOps or digital design?
    </li>
    <li data-index='8' class="yet-to-show">
      Keep on scrolling! Almost done!
    </li>
  </ul>
</div>

<div class="blend"></div>

<div class="round-up">
  <p>
    In case you find yourself in any of these situations: <br>
    How about giving me a go at it? Of course I offer all of the services that are alluded to, but let's put the allusions aside.
    Here is an overview of my services in plain terms:
  </p>
  <div class="plain-terms">
    <p>Concept development</p>
    <p>Consultation and coaching</p>
    <p>Design</p>
    <p>Implementation</p>
    <p>Long-time support</p>
  </div>
  <!-- <ul class="plain-terms">
    <li>Concept development</li>
    <li>Consultation and coaching</li>
    <li>Design</li>
    <li>Implementation</li>
    <li>Long-time support</li>
  </ul> -->
  <br><br>
  <p>
    This being said, I would strongly encourage you to find out more about <a href="expertise.html">what I do</a> and <a href="about_me.html">who I am</a>.
  </p>
  <br><br>
  <p>
    Or scroll up to revisit the use cases that I have already pointed out.
  </p>
</div>
