<div class="container-fluid d-md-none" id="mobileContainer">

  <div class="mobile-background-dark"></div>

  <div class="mobile-background-light">
    <div class="p-4 mobile-skills-content" id="skillsMaths">
      {% include eng/skills_mathematics.html %}
    </div>
  </div>
  <div class="mobile-background-dark">
    <div class="p-4 mobile-skills-content" id="skillsSoft">
      {% include eng/skills_software.html %}
    </div>
  </div>
  <div class="mobile-background-light">
    <div class="p-4 mobile-skills-content" id="skillsBoth">
      {% include eng/skills_both.html %}
    </div>
  </div>
</div>
