<div class="container-fluid d-md-none">
  <div class="mobile-background-dark">
    <div class="col-12 px-5 skills-content" id="skillsMaths">
      {% include eng/skills_mathematics.html %}
    </div>
  </div>
  <div class="mobile-background-light">
    <div class="col-12 px-5 skills-content" id="skillsSoft">
      {% include eng/skills_software.html %}
    </div>
  </div>
  <div class="mobile-background-dark">
    <div class="col-12 px-5 skills-content" id="skillsBoth">
      {% include eng/skills_both.html %}
    </div>
  </div>
</div>
