<div class="container-fluid">

  <!-- Header -->
  <div class="row" id="thanksHeader">
    <div class="col-12 mx-5 my-5">
      <h1>Thank You!</h1>
    </div>
  </div>

  <!-- Paragraphs -->
  <div class="row">
    <div class="col-5 mx-5 my-5">
      <!-- Submit success -->
      <p>I am happy to receive your message  will do my very best to reply to you as soon as possible.</p>

      <!-- Next steps -->
      <p>You can now <a href="index.html">return to the main page.</a></p>
    </div>
  </div>


  <div class="row">
    <div class="col-12 mx-5 my-5">
      <div class="mx-auto" id="titleBox">
        <h1 id="title">{{site.data.vars.title}}</h1>
        <!-- <h3 id="subtitle">{{site.data.vars.subtitle}}</h3> -->
      </div>
    </div>
  </div>

</div>
