/* First, hide the "Let's Talk"-button
#talk
  display: none

/* Customize the footer
footer
  background-color: $col_main_dark
  padding-top: 25px

#langContainer .lang
  background-color: transparent
  border: 1px solid $col_bg

#logoContainer, #linksContainer, #linksContainer a
  color: $col_bg

  #logoFooter
    path
      fill: $col_main_light

/* General page style
body
  min-height: 100vh
  width: 100vw

  .main-container
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: center

#contactText
  z-index: 1010
  text-align: justify
  font-weight: 500

  a
    display: inline

#mailto
  display: block !important
  width: 100%
  text-align: center
  color: $col_main_light
  font-weight: 500
  &:hover
    color: $col_font

  span
    color: $col_font
    &:hover
      color: $col_main_light

/* Media queries
+media-breakpoint-down(md)
  #contactText
    p
      font-size: $tablet_normal

    .contact-header
      font-size: $tablet_biggest


+media-breakpoint-down(sm)
  body
    overflow-y: scroll

    footer
      position: relative

  #contactText
    min-height: 50vh
    padding-top: 15vh

    p
      font-size: $mobile_normal

    .contact-header
      font-size: $mobile_big



+media-breakpoint-up(md)
  .contact-header, #mailto
    font-size: $desktop_biggest


+media-breakpoint-up(lg)
  .contact-header, #mailto
    font-size: $desktop_biggest

@media screen and (min-width: $retina)
  #contactText
    p
      font-size: $fourK_normal
    .contact-header, #mailto
      font-size: $fourK_biggest
