/* First, hide the "Let's Talk"-button */
#talk
  display: none

/* Customize the footer */
.lang
  background-color: $col_accent_dark

/*
 * General page style
 */
#contactForm
  position: absolute
  top: 0
  left: 0
  right: 0
  height: 60%

  form
    padding-top: 150px
    label
      width: 100%

    #customerContact label
      width: 48%
      &:last-child
        float: right

    span
      display: block

    textarea
      height: 10em

    input, textarea
      border: 2px solid $col_accent_dark
      border-radius: 0
      width: 100%
      padding: 10px
      margin-bottom: 1em
      &:focus
        outline: none
        background-color: $col_accent_light

    [type="submit"]
      width: 30%
      margin: 1.5em 35%
      text-transform: uppercase
      font-weight: 500
      background-color: $col_accent_light
      +transition()
      &:hover
        background-color: $col_link
        color: $col_bg

#contactInfo
  position: absolute
  bottom: 0
  left: 0
  right: 0
  height: 30%
  background-color: $col_accent_dark

  #mBig
    color: $col_bg
    // font-size: $desktop_biggest
    // font-weight: 600
    // margin: 75px auto
    margin-top: 75px
    text-align: center

    span
      color: $col_link

  #socialMediaLinks
    a
      display: inline-block
      width: 50px
      height: 50px

    #twitterLogo path
      fill: $aqua

    #githubLogo path
      fill: black



/*
 * Media queries
 */
@include media-breakpoint-up(md)
  form
    label
      display: inline-block

  #mBig
    font-size: $desktop_big
    letter-spacing: $desktop_normal
    font-weight: 500

@include media-breakpoint-up(xl)
  #mBig
    font-size: 62px
    font-weight: 600


@include media-breakpoint-down(sm)
  form
    label
      display: block
      +clearfix()

  #contactInfo
    #mBig
      font-size: $mobile_biggest

// @include media-breakpoint-down(sm)
//   #contactInfo
//     #mailBig
//       font-size: $mobile_big
