footer
  position: absolute
  bottom: 0
  left: 0
  right: 0

#langContainer
  height: 100%
  margin: 0

  .lang
    display: inline-block
    position: relative
    top: 50%
    +transform(translate(0,-50%))
    width: 40px
    height: 40px
    background-color: $col_main_light
    font-weight: 500
    cursor: pointer
    color: white
    +transition()
    &:hover
      background-color: $col_accent
    div
      position: absolute
      top: 50%
      left: 50%
      +transform(translate(-50%,-50%))


#logoContainer
  width: 55px
  @include float-right

  .footer-text
    font-size: 8px
    opacity: 0.7
    margin-bottom: 2px


/*
 * Media queries
 */
@media (max-width: 992px)
   #langContainer, #logoContainer
     +transform(scale(0.8))

   #langContainer
     float: left
