header
  .navbar-nav
    height: 75px
    a
      position: relative
      top: 5px

  a
    text-transform: uppercase
    font-weight: 500
    color: $col_font
    +transition()
    &:hover
      color: $col_link


.logo-small
  width: 75px
  height: 75px
  cursor: pointer
  +transition()
  path
    +transition(fill)

  &:hover
    path
      fill: $col_link

#talk
  position: fixed
  top: 13px
  right: 25px
  color: $col_link
  text-align: center
  padding: 10px 20px
  &:hover
    background-color: $col_link
    color: white
    border-radius: 3px

#containerUpperLine
  z-index: 1029

#svg-line-upper
  margin: 75px 0 0 0
  width: 100vw
  height: 5px
  path
    fill: $col_link





/*
 * Media queries
 */
@include media-breakpoint-down(md)
  // Customize dropdown behaviour for the collapsed navbar
  .nav-blend
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: $col_bg
    opacity: 0.9
    z-index: 1029

  .custom-collapse
    display: none

  // header
  //   .navbar-nav, .navbar-collapse
  //     +transition($duration:500ms)
  //     height: 90vh
  //     background-color: $col_bg
  //     opacity: 0.95
