.main
  height: calc(100vh - 75px)
  +transform(translate(0,75px))
  width: 80vw
  margin: 0 10vw 10vh 10vw
  overflow: scroll

  h1
    padding-top: 10vh
    text-align: center

  h3
    margin-bottom: 5px

  p
    text-align: justify


/*
 * Media queries
 */

/* Extra large devices (large laptops and desktops, 1200px and up) */
// As designed

/* Large devices (laptops/desktops, 992px to 1200px) */
@media only screen and (width < 1200px)
  footer div
    left: 50%
    bottom: 0
    +transform(translate(-20px,0))

  .main
    height: calc(100vh - 200px)


/* Medium devices (landscape tablets, 768px to 992px) */
@media only screen and (width < 992px)

/* Small devices (portrait tablets and large phones, 600px to 768px) */
@media only screen and (width < 768px)
  div
    font-size: 14px

/* Extra small devices (phones, 600px and down) */
@media only screen and (width < 600px)
  div
    font-size: 12px

  h1
    padding-top: 5vh
    font-size: 30px
  h3
    font-size: 18px
