.main
  height: 100vh
  padding-top: 5vh
  p
    +transform(rotate(-10deg))

.light-box, .dark-box
  display: inline-block
  width: 48vw
  z-index: 1
  +transform(rotate(10deg))

.dark-box
  position: absolute
  height: 85vh
  top: -10vh
  left: 2vw
  background-color: $col_accent_dark

  .intro p
    position: absolute
    padding: 20px
    color: white

  p:nth-child(1)
    bottom: 35%
    left: 10%
    font-size: 1.5rem
    font-weight: 500

  p:nth-child(2)
    bottom: 20%
    left: 5%
    width: 400px
    text-align: justify

.light-box
  position: fixed
  height: 77vh
  top: 18vh
  right: 2vw
  background-color: $col_accent_light

  .title-box
    position: absolute
    top: -75px
    right: 75px
    +transform(rotate(-10deg))
    z-index: 3
    width: 30vw
    height: 30vw
    max-width: 440px
    max-height: 440px
    border: 5px solid $col_font
    &:hover
      background-color: $col_font
      #title, #subtitle
        color: $col_accent_light
        border-color: $col_accent_light


// Attach animations
.highlight
  transition: all 300ms ease-in-out

.animate-maths, .animate-software
  overflow: hidden
  &:before
    content: ''
    position: absolute
    top: 50%
    left: 0
    height: 60px
    +transform(translate(-50%,-50%) skewX(-25deg))
    z-index: -1


.animate-maths
  // animation: blink-parent 8s ease-in-out 10s infinite
  &:before
    animation: slide 8s ease-in-out 7s infinite
    background-color: $col_accent_light

.animate-software
  // animation: blink-parent 5s ease-in-out 13s infinite
  &:before
    animation: slide 8s ease-in-out 10s infinite alternate
    background-color: $col_accent_dark

.main .svg-parent
  position: absolute
  bottom: 0
  right: 0
  z-index: -1

// ID's
#header-logo
  visibility: hidden

footer div
  left: 20px

#title
  margin-top: 10px
  margin-left: 10px
  text-transform: uppercase
  +responsive-font(3vmax, 26px, 48px)

#subtitle
  position: absolute
  margin: 0 auto 10px 10px
  bottom: 0
  font-weight: 300
  +responsive-font(1.5vw, 14px, 22px, 14px)

#maths, #software
  position: absolute
  bottom: 5%
  left: 50%
  border: solid $col_accent_light 1px
  padding: 5px
  width: 10rem
  max-width: 25%
  text-align: center
  // text-transform: lowercase
  font-weight: 500
  color: $col_link
  letter-spacing: 0.1rem

#software
  bottom: 10%
  left: 20%
  border: solid $col_accent_dark 1px

#svg-line-lower
  width: 150%
  +transform(translate(15%,0))
  path
    fill: $col_accent_dark
