/*
 * Local mixins
 */
=titleSize($width, $title-size: $desktop_biggest, $subtitle-size: $desktop_big)
  #titleBox
    width: $width
    height: $width
    #title
      font-size: $title-size
    #subtitle
      font-size: $subtitle-size

/*
 * General page style
 */
.main-container
  padding-top: 110px

/*
 * Background styles
 */
.background
  position: absolute
  z-index: -1

  #darkBox, #lightBox
    overflow: hidden
    position: relative
    box-sizing: content-box
    +transform(rotate(15deg))

  #darkBox
    // top: -300px
    // height: 100vh
    top: -15vmax
    height: 100vh
    background-color: $col_accent_dark

  #lightBox
    top: 50px
    // left: -50px
    height: 80vh
    background-color: $col_accent_light

  #imageLeft
    position: absolute
    bottom: -100px
    right: 0
    +transform(rotate(-15deg) translate(55%,0))

  #imageRight
    position: absolute
    bottom: 0
    left: 0
    +transform(rotate(-15deg) translate(-50%,0))

  #containerLowerLine
    position: absolute
    bottom: 0
    right: 0
    left: 0

  #svg-line-lower
    width: 1300px
    float: right
    path
      fill: $col_accent_dark

/*
 * Foreground (content) styles
 */
.foreground
  position: absolute
  top: 0
  left: 0
  background: none

#titleContainer
  position: relative
  top: 100px
  padding: 20px 0 0 100px

  #titleBox
    border: 5px solid $col_font
    +transition(all,300ms,ease-in-out)
    &:hover
      background-color: $col_font
      #title, #subtitle
        color: $col_accent_light
        border-color: $col_accent_light
        width: 100%

    #title
      padding-top: 10px
      padding-left: 10px
      text-transform: uppercase

    #subtitle
      position: absolute
      bottom: 0
      padding: 0 10px 10px 10px
      font-weight: 300

#contentContainer
  height: 100%

  #contentBox
    position: absolute
    top: 50%
    left: 0
    padding: 50px
    +transform(translate(0,-50%))

    p
      color: $col_bg
      font-weight: 500



/*
 * Media queries
 */
@include media-breakpoint-up(xl)
  +titleSize(440px)

@include media-breakpoint-up(lg)
  #lightBox
    left: -20px

  #contentBox p
    width: 80%


@include media-breakpoint-down(lg)
  +titleSize(375px,$tablet_biggest,$tablet_big)

@include media-breakpoint-down(sm)
  +titleSize(250px,$mobile_biggest,$mobile_big)
  body
    overflow-y: scroll

  #darkBox
    height: 130vh

  #titleContainer
    padding: 0

  #contentContainer
    margin-top: 200px
    min-width: 360px
    padding: 0 10px
    mix-blend-mode: difference
    color: $col_font

    p
      width: 100%
      color: $col_font
