/*
 * General page style
 */
.main-container
  position: relative
  min-height: 100vh
  padding-top: 100px

  /*
   * Background styles
   */
  .background-light
    position: absolute
    width: 100%
    top: 50vh
    left: 0
    +transform(translate(0,-50%))
    background-color: $col_accent_light
    z-index: -1

  .background
    position: absolute
    top: 0
    // left: 100px
    height: 100vh
    background-color: $col_accent_dark
    z-index: -1
    // +transform(rotate(10deg))

  /*
   * Foreground (content) styles
   */
  .services-icons-container
    background-color: pink
    height: 50vh
    min-height: 200px
    max-height: 400px
    .services-icons
      position: absolute
      top: 50%
      left: 50%
      +transform(translate(-50%,-50%))
      height: 10px
      width: 10px
      background-color: red

  .services-scrollable
    div
      margin: 10px
    // background-color: pink

  .slick-current
    // +transition()
    text-align: justify
    color: $col_link
    font-size: $desktop_big
    // margin: 20px auto
    font-weight: 600


/*
 * Media queries
 */
@include media-breakpoint-down(md)
  .background
    left: 50%
    +transform(translate(-50%,0))
    opacity: 0.5

  .background-light
    height: 75vh

  .services-header
    font-size: $mobile-biggest

@include media-breakpoint-down(sm)
  .services-header
    font-size: $mobile-biggest

@include media-breakpoint-up(lg)
  .background
    left: 100px

  .background-light
    height: 50vh

  .services-header
    padding-left: 100px
    color: $col_bg
    font-weight: 700
