/* General page style

/* Background styles
.background-light
  background-color: $col_main_light
  min-height: 100vh
  z-index: -2

.background-dark
  background-color: $col_main_dark
  height: 100vh
  z-index: -2

.mobile-background-dark
  background-color: $col_main_dark
  z-index: -1

.mobile-background-light
  background-color: $col_main_light
  z-index: -1

.triangle
  width: 0
  height: 0
  border-left: 60vw solid transparent
  border-right: 60vw solid transparent
  border-bottom: 250px solid $col_bg
  z-index: -1

.triangle-right
  position: absolute
  bottom: 0
  right: -65vw

.triangle-left
  position: absolute
  bottom: 0
  left: -65vw

#skillsIntro
  position: absolute
  top: 125px
  left: 0
  right: 0
  padding: 0
  z-index: 1010

  .skills-header
    color: $col_bg
    font-weight: 500

  .alt-skills-header
    color: $col_font
    font-weight: 500

#skillsAll, .skills-popup
  position: absolute
  top: 55%
  left: 50%
  +transform(translate(-50%, -50%))

#skillsAll
  z-index: 1010

.skills-popup
  z-index: 1020

.mobile-skills-popup
  z-index: 1020
  position: absolute
  top: 0
  left: 0
  right: 0

.mobile-popup-container
  position: relative
  z-index: 1010

.mobile-skills-popup
  position: absolute
  top: 0
  left: 0
  // right: 0
//   +transition(all, 500ms, ease-in-out)
//   +transform(translateY(-90px))
// .popup-open
//   +transform(translateY(0px))

.skills-keyword
  outline: none
  -webkit-tap-highlight-color: transparent

/* Media queries
+media-breakpoint-down(md)
  .skills-header, .alt-skills-header
    font-size: $tablet_normal


+media-breakpoint-down(sm)
  body
    overflow-y: scroll

  .main-container
    min-height: 100vh

    /* Customize the footer
    footer
      position: relative
      background-color: $col_main_dark

      #langContainer .lang
        background-color: transparent
        border: 1px solid $col_bg

      #logoContainer
        .footer-text
          color: $col_bg

        #logoFooter
          path
            fill: $col_main_light

  #skillsIntro
    top: 100px

    .skills-header
      font-size: $mobile_small

  #mobileContainer
    padding: 0

    .mobile-background-dark, .mobile-background-light
      min-height: 20vh
      border-bottom: 15px solid $col_bg

      &:first-child
        height: 250px


+media-breakpoint-up(lg)
  .skills-container svg
    display: block
    margin: auto
    max-height: 55vh

  .skills-header
    font-size: $desktop_normal
