header nav
  position: absolute
  top: 10px
  left: 30px
  display: inline-block
  padding-top: 10px
  width: 80vw
  z-index: 2

  a
    margin: auto 3.5vw
    font-weight: 500
    color: $col_font
    text-transform: uppercase
    letter-spacing: 1.5px
    &:hover
      color: $col_link

  #svg-line-upper
    position: absolute
    left: -30px
    margin-top: 10px
    z-index: 3
    width: 80vw
    path
      fill: $col_link

#lets-talk
  position: absolute
  top: 10px
  right: 50px
  padding: 10px 20px
  z-index: 3
  text-transform: uppercase
  letter-spacing: 1.5px
  font-weight: 500
  &:hover
    background-color: $col_link
    color: $col_bg
    border-radius: 2px
    // font-weight: 500
