<div class="container-fluid content-container">
  <div class="row">

    <div class="col-12 col-lg-5">
      <div class="row h-100">
        <div class="col-10 mx-auto text-justify" id="intro">
          <p id="title">Lights, camera, action!</p>

          <div class="align-self-center">
            <p>Ich denke, dass jetzt die Zeit gekommen ist, um über die Person zu
              reden, die hinter Vars&Numbers steckt. Meine wundervolle Ehefrau hat
              mir dabei geholfen, meinen Lebenslauf in eine Animation über mich
              zu verpacken. Spielen Sie es ab, sonst verpassen Sie was!</p>

            <p>Übrigens können Sie gerne meinen gewöhnlichen Lebenslauf herunterladen,
              Wenn Sie möchten. Ich stelle auch weitere Dokumente (Universitäts-
              und Arbeitszeugnisse) zum Download bereit, diese sind allerdings
              passwortgeschützt. Fragen Sie einfach nach, wenn Sie Interesse haben.</p>
          </div>
        </div>
        <div class="col-10 mx-auto text-right align-self-end" id="downloadResources">
          <div class="download-resource">
            <a href="../assets/downloads/Dmitriy_Sevkovych_CV_ger.pdf" download="Lebenslauf - Dmitriy Sevkovych">CV</a>
          </div>
          <div class="download-resource">
            <a href="../assets/downloads/protected/test.pdf" download="BSc - Dmitriy Sevkovych">BSC</a>
          </div>
          <div class="download-resource">
            <a href="../assets/downloads/protected/test.pdf" download="MSc - Dmitriy Sevkovych">MSC</a>
          </div>
          <div class="download-resource">
            <a href="../assets/downloads/protected/test.pdf" download="Arbeitszeugnisse - Dmitriy Sevkovych">Certs</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="video-container">
        <div class="decoration d-none d-lg-block"></div>
        <video controls>
          <source src="movie.mp4" type="video/mp4">
          <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</div>
