<div class="container-fluid mb-5">

  <div class="row text-center">
    <div class="w-100 my-3">
      <h1>Datenschutzerklärung</h1>
    </div>
  </div>

  <div class="row text-justify">
    <div class="w-100 mx-4">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet justo non tellus rhoncus, quis auctor velit condimentum. Duis nec ipsum lacinia, feugiat turpis ac, fringilla lacus. Nullam tincidunt diam nec metus hendrerit
        lobortis. Phasellus vestibulum mauris quis pharetra dictum. Aliquam varius interdum neque, non blandit dui imperdiet id. Nulla pharetra mattis massa nec gravida. Morbi at euismod purus, tristique rutrum velit. Sed maximus sollicitudin massa
        vel
        aliquet. Nunc viverra mollis ullamcorper. Nunc semper leo condimentum urna tristique, sit amet facilisis dolor condimentum. Sed ornare sapien quis fringilla vulputate. Phasellus in velit viverra, ornare libero viverra, dapibus velit. Fusce
        rhoncus varius libero, a sodales leo ornare vitae.
      </p>

      <p>
        Proin aliquam efficitur commodo. Nunc et metus non dolor vehicula vulputate. Suspendisse quis libero eleifend, efficitur ligula quis, congue dui. Sed mattis id felis gravida luctus. Mauris convallis tortor quam, in rhoncus nisl dictum ut.
        Vestibulum sapien ligula, molestie a est sit amet, rhoncus interdum velit. Fusce justo magna, bibendum sit amet nisl in, pulvinar pulvinar lorem. Duis sollicitudin pretium quam. Maecenas maximus volutpat arcu, id posuere magna tincidunt sed.
        Quisque blandit rhoncus faucibus. Cras lacinia dui fermentum, sodales risus eu, fringilla ante.
      </p>

      <p>
        Praesent non nisi ullamcorper, pellentesque urna ac, mattis diam. Aliquam mattis eros in massa dapibus, sit amet consectetur nisl elementum. Nulla posuere, sem eu dignissim fermentum, lorem eros vulputate turpis, non faucibus nulla risus ut
        mauris. Nunc vitae diam pretium, lobortis ante id, semper nunc. Etiam mattis tincidunt sollicitudin. Ut in sem mollis, elementum libero eget, maximus nisl. Suspendisse at mi metus.
      </p>

      <p>
        Duis eget enim in est pulvinar rutrum nec quis orci. Sed gravida risus enim, non ornare leo tempus at. Nunc tempus ex et faucibus egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non nulla eget nisi ultricies maximus a
        ut
        tortor. Nullam tincidunt at sapien quis auctor. Ut viverra in massa ut ultrices. Sed ac nibh quam. Mauris arcu neque, tempor mollis lorem id, molestie faucibus metus. Etiam at ex turpis. Morbi id posuere urna, vel porttitor tortor.
        Suspendisse
        suscipit semper mi, eget vulputate est rhoncus in. Nullam in laoreet mauris, eu gravida lacus. Morbi posuere lorem aliquam venenatis luctus. Fusce lacinia lorem est, sed commodo ante aliquet vitae. Etiam eu suscipit quam, eu ullamcorper
        lorem.
      </p>

      <p>
        Donec quis sagittis mi. Nunc ex metus, porttitor a libero sit amet, maximus blandit lorem. Etiam venenatis, enim sit amet imperdiet semper, nisi lacus convallis elit, vel dapibus dolor lorem a ipsum. Etiam tincidunt lectus massa, at finibus
        libero vestibulum vitae. Maecenas non nisl vel augue aliquam pharetra. Cras fringilla varius lectus sit amet commodo. Etiam consequat et risus nec laoreet. Sed ut scelerisque mauris. Quisque sit amet auctor sem, id finibus odio. Nulla tempus
        lorem et leo semper bibendum. Duis luctus velit vitae venenatis scelerisque. Vestibulum tempus sollicitudin neque id tempus. Nullam id dolor commodo, volutpat sem non, elementum lorem. Duis suscipit suscipit placerat. Donec molestie at elit
        quis
        ullamcorper.
      </p>
    </div>
  </div>

</div>
