<div class="container-fluid d-md-none" id="mobileContainer">

  <div class="mobile-background-dark"></div>

  <!-- "Software" -->
  <div class="mobile-background-light">
    <div class="mobile-popup-container">
      <div class="p-4 mobile-skills-content" id="skillsSoft">
        {% include ger/skills_graphic_software.html %}
      </div>
      <!-- Popups for "Software" -->
      <div class="p-4 mobile-skills-popup collapse" data-popup="skillFullStack">
        {% include popups/ger/fullStack_mob.html %}
      </div>
      <div class="p-4 mobile-skills-popup collapse" data-popup="skillWebDevelopment">
        {% include popups/ger/webDevelopment_mob.html %}
      </div>
      <div class="p-4 mobile-skills-popup collapse" data-popup="skillDigitalDesign">
        {% include popups/ger/digitalDesign_mob.html %}
      </div>
      <div class="p-4 mobile-skills-popup collapse" data-popup="skillDevops">
        {% include popups/ger/devops_mob.html %}
      </div>
    </div>
  </div>

  <!-- "Mathematics" -->
  <div class="mobile-background-dark">
    <div class="mobile-popup-container">
      <div class="p-4 mobile-skills-content" id="skillsMaths">
        {% include ger/skills_graphic_mathematics.html %}
      </div>
      <!-- Popups for "Mathematics" -->
      <div class="p-4 mobile-skills-popup collapse" data-popup="skillSimulation">
        {% include popups/ger/numericalSimulation_mob.html %}
      </div>
      <div class="p-4 mobile-skills-popup collapse" data-popup="skillStatistics">
        {% include popups/ger/statistics_mob.html %}
      </div>
    </div>
  </div>

  <!-- "Both" -->
  <div class="mobile-background-light">
    <div class="mobile-popup-container">
      <div class="p-4 mobile-skills-content" id="skillsBoth">
        {% include ger/skills_graphic_both.html %}
      </div>
      <!-- Popups for "Both" -->
      <div class="p-4 mobile-skills-popup collapse" data-popup="skillDataScience">
        {% include popups/ger/dataScience_mob.html %}
      </div>
      <div class="p-4 mobile-skills-popup collapse" data-popup="skillMachineLearning">
        {% include popups/ger/machineLearning_mob.html %}
      </div>
    </div>
  </div>
</div>
