<footer class="container-fluid">

  <div class="col-8" id="leftContainer">
    <div class="mr-2 ml-lg-3" id="langContainer">
      <div class="lang px-1" data-lang="en">
        <div>EN</div>
      </div>
      <div class="lang px-1" data-lang="de">
        <div>DE</div>
      </div>
      <!-- <div class="lang px-1" data-lang="ru"><div>RU</div></div> -->
    </div>

    <div id="linksContainer">
      <span> <a id="linkImprint" href="legal.html"></a> | <a id="linkPrivacy" href="legal.html#privacy"></a> </span>
    </div>
  </div>

  <!-- <div class="col-4">
  <div class="mx-auto" id="linksContainer">
    <span> <a id="linkImprint" href="legal.html"></a> | <a id="linkPrivacy" href="legal.html#privacy"></a> </span>
  </div>
  </div> -->

  <div class="col-4">
    <div class="mr-2 mb-2" id="logoContainer">
      <div class="footer-text">developed by</div>
      <div>{% include icons/Logo_footer.html %}</div>
    </div>
  </div>

</footer>
