<!doctype html>
<html lang="{{ page.lang }}" dir="ltr">

<head>
  <title>{{page.title}} &ndash; {{site.title_tab}}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{site.author}}">
  <meta name="description" content="{{page.description}}">
  <meta name="keywords" content="{{site.keywords}}">
  <meta property="og:locale" content="{{site.locale}}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:description" content="{{ site.description }}">
  <!-- <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "person",
      "name": "{{ site.title_tab }}",
      "url": "{{site.url}}",
      "sameAs": null
    }
  </script> -->
  <!-- <link rel="canonical" href="{{ site.url }}"> -->
  <link rel="icon" type="image/ico" href="/assets/img/favicons/favicon.ico">
  <link rel="stylesheet" href="/assets/css/{{ page.ref }}.css">
</head>

<body>
  {% include {{ page.lang }}/header.html %}
  {{ content }}
</body>

<script type="text/javascript" src="/assets/js/ext.min.js"> </script>
{% if page.jQueryUi %}
<script type="text/javascript" src="/assets/js/jquery-ui.min.js"> </script>
{% endif %}
{% if page.t %}
<script type="text/javascript" src="/assets/js/t.min.js"> </script>
{% endif %}
<script type="text/javascript" src="/assets/js/headerfooter.js"> </script>
<script type="text/javascript" src="/assets/js/{{ page.ref }}.js"> </script>

</html>
