<!doctype html>
<html lang="{{ page.lang }}" dir="ltr">

<head>
  <script type="text/javascript">
    // Set to the same value as the web property used on the site
    var gaProperty = 'UA-141695535-1';
    // Disable tracking if the opt-out cookie exists.
    var disableStr = 'ga-disable-' + gaProperty;
    if (document.cookie.indexOf(disableStr + '=true') > -1) {
      window[disableStr] = true;
    }

    // Opt-out function
    function gaOptout() {
      document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
      window[disableStr] = true;
    }
  </script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141695535-1"></script>

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
  <script>
    window.addEventListener("load", function() {
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#ff851b",
            "text": "#ffffff"
          },
          "button": {
            "background": "gray",
            "text": "#ffffff"
          }
        },
        "theme": "edgeless",
        "type": "opt-in",
        "position": "bottom-right",
        "content": {
          "message": "I would like to use Google Analytics on this website. Would you please allow me to do so?",
          // "allow": "Yes, allow cookies",
          // "deny": "decline cookies",
          // "link": "Privacy statement",
          "href": "https://varsandnumbers.com/legal.html#privacy"
        },
        revokable: true,
       animateRevokable: true,
        onInitialise: function(status) {
          var type = this.options.type;
          var didConsent = this.hasConsented();
          if (type == 'opt-in' && didConsent) {
            // enable cookies
            window.dataLayer = window.dataLayer || [];

            function gtag() {
              dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-141695535-1', {
              'anonymize_ip': true
            });
          }
        },

        onStatusChange: function(status, chosenBefore) {
          var type = this.options.type;
          var didConsent = this.hasConsented();
          if (type == 'opt-in' && didConsent) {
            // enable cookies
            window.dataLayer = window.dataLayer || [];

            function gtag() {
              dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-141695535-1', {
              'anonymize_ip': true
            });
          }
        },

        onRevokeChoice: function() {
          var type = this.options.type;
          if (type == 'opt-in') {
            // Get an array of cookies
            var arrSplit = document.cookie.split(";");
            for (var i = 0; i < arrSplit.length; i++) {
              var cookie = arrSplit[i].trim();
              var cookieName = cookie.split("=")[0];
              // If the prefix of the cookie's name matches the one specified, remove it
              if (cookieName.indexOf("ssupp.") === 0) {
                // Remove the cookie
                document.cookie = cookieName + "=; Max-Age=-99999999;";
              }
            }
          }
        }
      })
    });
  </script>

  <title>{{page.title}} &ndash; {{site.title_tab}}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{site.author}}">
  <meta name="description" content="{{page.description}}">
  <meta name="keywords" content="{{site.keywords}}">
  <meta property="og:locale" content="{{site.locale}}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:description" content="{{ site.description }}">
  <link rel="icon" type="image/ico" href="/assets/img/favicons/favicon.ico">
  <link rel="stylesheet" href="/assets/css/post.css">
</head>

<body>
  {% include univ/preload_screens.html %}

  <p class="text-right">{{ page.date | date_to_long_string }} - {{ page.author }}</p>
  <h1 class="text-center">{{ page.title }}</h1>

  {{ content }}

  <!--force-excerpt-end-->

  <div class="post-anchors text-right">
    {% if page.discussable %}
    <a href="/contact.html">DISCUSS</a>
    {% endif %}
    <a href="/blog.html">GO BACK</a>
  </div>
</body>

<script type="text/javascript" src="/assets/js/ext.min.js"> </script>
<script type="text/javascript" src="/assets/js/headerfooter.js"> </script>
<script type="text/javascript" src="/assets/js/anchors.js"> </script>

</html>
