<!doctype html>
<html lang="{{ page.lang }}" dir="ltr">

<head>
  <title>{{page.title}} &ndash; {{site.title_tab}}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{site.author}}">
  <meta name="description" content="{{page.description}}">
  <meta name="keywords" content="{{site.keywords}}">
  <meta property="og:locale" content="{{site.locale}}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:description" content="{{ site.description }}">
  <link rel="icon" type="image/ico" href="/assets/img/favicons/favicon.ico">
  <link rel="stylesheet" href="/assets/css/post.css">
</head>

<body>
  {% include univ/preload_screens.html %}

  <p class="text-right">{{ page.date | date_to_long_string }} - {{ page.author }}</p>
  <h1 class="text-center">{{ page.title }}</h1>

  {{ content }}

  <div class="post-anchors text-right">
    {% if page.discussable %}
    <a href="/contact.html">DISCUSS</a>
    {% endif %}
    <a href="/blog.html">GO BACK</a>
  </div>
</body>

<script type="text/javascript" src="/assets/js/ext.min.js"> </script>
<script type="text/javascript" src="/assets/js/headerfooter.js"> </script>
<script type="text/javascript" src="/assets/js/anchors.js"> </script>

</html>
