/*
 * 4k font sizes for this project
 */
$fourK_biggest: 48px
$fourK_big: 32px
$fourK_normal: 24px
$fourK_small: 16px


/*
 * Desktop font sizes for this project
 */
$desktop_biggest: 36px
$desktop_big: 20px
$desktop_normal: 16px
$desktop_small: 14px


/*
 * Tablet font sizes for this project
 */
$tablet_biggest: 36px
$tablet_big: 22px
$tablet_normal: 18px
$tablet_small: 14px


/*
 * Mobile font sizes for this project
 */
$mobile_biggest: 22px
$mobile_big: 18px
$mobile_normal: 14px
$mobile_small: 12px
